<!--begin affiliates hero-->
<section class="affiliates-hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Become a Demio Affiliate Partner</h1>
                <p>And Earn 30% Lifetime Commission for Every Referral</p>
            </div>
        </div>
    </div>
</section>
<!--end affiliates hero-->

<!--begin affiliates text-->
<section class="affiliates-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Interested in becoming a Demio Affiliate Partner? The Demio Affiliate Program allows you to earn an incredible recurring commission while referring a platform that will help your network create, market, and host webinars with ease.</p>
                <p>Our product, customer service, and marketing resources make it easier than ever for you to recommend a product you can joyfully stand behind. Because we stand behind the success of every customer.</p>
                <p>Join hundreds of marketers in our Affiliate Program who are earning growing, lifetime commissions, month over month.</p>
                <div class="link">
                    <a href="#/" class="btn_dark btn_circle"><span class="anim"></span>Get started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end affiliates text-->

<!--begin affiliates why-->
<section class="affiliates-why">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="title__secondary"><b>Why Do Our Customers Love Demio?</b></h2>
                <p>Demio makes it easy for marketers to run successful webinar campaigns without the technical headache.</p>
            </div>
        </div>
        <div class="row wrapper">
            <div class="col-12 col-md-4 col-lg-4">
                <div class="item">
                    <img src="img/icon_aff_1.png" alt="Icon" />
                    <h3>No Downloads</h3>
                    <p>Get higher attendance rates on your webinars with frictionless joining in almost any major web browser.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="item">
                    <img src="img/icon_aff_2.png" alt="Icon" />
                    <h3>Built for Marketing</h3>
                    <p>Everything you need to create, market, and host successful webinars.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="item">
                    <img src="img/icon_aff_3.png" alt="Icon" />
                    <h3>All-in-One</h3>
                    <p>Live and automated webinars, registration pages, webinar replays, and everything else all in one place.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end affiliates why-->

<!--begin affiliates features-->
<section class="affiliates-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="title__secondary"><b>Features Built with Marketers in Mind</b></h2>
            </div>
        </div>
        <div class="row wrapper">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon_aff_features_1.svg" alt="Icon" />
                    </div>
                    <h3>Live & Like Live Replays</h3>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon_aff_features_2.svg" alt="Icon" />
                    </div>
                    <h3>Public & Private Chat Options</h3>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon_aff_features_3.svg" alt="Icon" />
                    </div>
                    <h3>Share Videos</h3>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon_aff_features_4.svg" alt="Icon" />
                    </div>
                    <h3>100% Real-time Streaming</h3>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon_aff_features_5.svg" alt="Icon" />
                    </div>
                    <h3>Handouts</h3>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon_aff_features_6.svg" alt="Icon" />
                    </div>
                    <h3>Automatic, HD Recordings</h3>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon_aff_features_7.svg" alt="Icon" />
                    </div>
                    <h3>Customizable Registration Pages</h3>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon_aff_features_8.svg" alt="Icon" />
                    </div>
                    <h3>Featured Calls-To-Action</h3>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon_aff_features_9.svg" alt="Icon" />
                    </div>
                    <h3>Automatic Replay Pages</h3>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon_aff_features_10.svg" alt="Icon" />
                    </div>
                    <h3>Embeddable Registration Forms</h3>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon_aff_features_11.svg" alt="Icon" />
                    </div>
                    <h3>Invite Co-presenters and Moderators</h3>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon_aff_features_12.svg" alt="Icon" />
                    </div>
                    <h3>Deep Marketing Integrations</h3>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon_aff_features_13.svg" alt="Icon" />
                    </div>
                    <h3>Automatic Reminders</h3>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon_aff_features_14.svg" alt="Icon" />
                    </div>
                    <h3>Upload Presentation Slides</h3>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon_aff_features_15.svg" alt="Icon" />
                    </div>
                    <h3>Post-webinar Analytics</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="link">
                    <a href="#/" class="btn_dark btn_circle"><span class="anim"></span>Get started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end affiliates features-->

<!--begin affiliates earn-->
<section class="affiliates-earn">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <h2 class="title__secondary">
                    <b>Earn up to 30% Recurring Commissions</b>
                </h2>
                <p>As a Demio affiliate you’ll earn a 30% commission each month from everyone you refer. That means if you send us an account worth $99/month, you’ll earn $30. Every month.</p>
                <p>Our recurring and compounding affiliate commissions mean you’ll win as your network wins! Demio offers 6 different membership levels for you to promote for your audience. Check out our pricing page here.</p>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="img">
                    <img src="img/img_earn.png" alt="Image" />
                </div>
            </div>
        </div>
    </div>
</section>
<!--end affiliates earn-->

<!--begin affiliates join-->
<section class="affiliates-join">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="title__secondary">
                    <b>How to Join Our Program</b>
                </h2>
                <p>Joining the Demio Affiliate Program is simple.</p>
            </div>
        </div>
        <div class="row wrapper">
            <div class="col-lg-12">
                <ul>
                    <li>Use the button below to sign up through our program. You’ll instantly log into your account and you’ll find your shareable links if you want to start recommending Demio immediately.</li>
                    <li>Once inside of your account, you’ll be able to see revenue created, commissions owed, and payments made. Have a question on how it works? Check out our tutorial here.</li>
                    <li>Start promoting! You’ll see those clicks or activity reflected in your account.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="link">
                    <a href="#/" class="btn_dark btn_circle"><span class="anim"></span>Get started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end affiliates join-->

<!--begin affiliates ideas-->
<section class="affiliates-ideas">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="title__secondary">
                    <b>Here Are a Few Promotion Ideas to Get You Started</b>
                </h2>
            </div>
        </div>
        <div class="row">
            <dic class="col-lg-12">
                <ul>
                    <li>Write a Review post for your blog or for your network. People love to see how your new platform of choice now compares to your old platform. Headlines like: Demio vs. _________ (whatever tool you are most familiar with or personally switched from) would be a great start and works well for SEO!</li>
                    <li>Add details about Demio, along with your affiliate link, to any pages or posts you have on your website or blog about important Digital Marketing tools.</li>
                    <li>Share how you use webinars personally in your own business to improve your business revenue and lead generation. People love to hear different strategies.</li>
                    <li>Send an email to your audience/network with affiliate links to our Automated Webinar for a full 1.5 hour webinar training and exclusive discounts!</li>
                    <li>Add Demio to a Resources page on your blog as your recommended webinar platform for marketing and sales</li>
                    <li>Push a 14 day free trial on social media and a great caption/reason why you recently switched platforms. We even track these trials!</li>
                    <li>Anything else you can think of :) We’re here to help!</li>
                </ul>
                <div class="link">
                    <a href="#/" class="btn_dark btn_circle"><span class="anim"></span>Get started</a>
                </div>
            </dic>
        </div>
    </div>
</section>
<!--end affiliates ideas-->

<!--begin affiliates questions-->
<section class="affiliates-questions">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="title__secondary">
                    <b>Common Questions</b>
                </h2>
                <p>Read through popular questions and answers about the affiliate program.</p>
            </div>
        </div>
        <div class="row wrapper">
            <div class="col-lg-12">
                <ul>
                    <li>
                        <h4>How long is your cookie life?</h4>
                        <p>We currently offer a 30-day cookie life. This means from their click on your link, if they purchase over the next 30 days (without clicking someone else's link), you're the affiliate of record.</p>
                    </li>
                    <li>
                        <h4>How do you track conversions?</h4>
                        <p>Conversions are tracked through your affiliate link provided by our affiliate tracking software, First Promoter.</p>
                    </li>
                    <li>
                        <h4>What is the commission payout? How much can I earn?</h4>
                        <p>We currently offer a 30% recurring commission for the life of the customer. With membership prices ranging from $74 to $1965 for annual sales, you can start to imagine how you can make some great commissions with Demio!</p>
                    </li>
                    <li>
                        <h4>When do payouts take place?</h4>
                        <p>Affiliate payments are currently made on the 1st and 15th of each month. There is a minimum delay of 30 days before approving pending commissions (to account for any refunds since we have a 30-day no-questions-asked refund policy).</p>
                        <p>Depending on when a commission is earned in a month, it can be pending for up to 44 days. For example, if you earned a commission on August 2nd, it would be approved and paid on Oct 15 (creating a 44 day delay).</p>
                    </li>
                    <li>
                        <h4>Can I refer myself on purchase?</h4>
                        <p>Self-referrals strictly prohibited from the Demio affiliate program. We want you to be able to provide a great system to earn commission by recommending others to the Demio system and not get yourself a 30% discount.</p>
                    </li>
                    <li>
                        <h4>Someone signed up from me and didn’t use my link, can you help?</h4>
                        <p>In some cases, we can give credit to an affiliate even if the customer didn’t sign up through their link by mistake. If you have a case like that, contact us first so we can help and please ask your customer to send any details of the purchase.</p>
                    </li>
                    <li>
                        <h4>Do you have affiliate terms of service?</h4>
                        <p>Absolutely! We want our affiliates to treat the market, our leads, and our customers with respect and understanding. This is not a system to spam, abuse, or scam your audience for commission. Please read all Terms of Service rules here.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--end affiliates questions-->

<!--begin affiliates manager-->
<section class="affiliates-manager">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="title__secondary">
                    <b>Hey! 👋 I'll Be Your Affiliate Manager</b>
                </h2>
            </div>
        </div>
        <div class="row wrapper">
            <div class="col-12 col-md-6 col-lg-6">
                <h3>Hey 👋 I'm David Abrams</h3>
                <p>I’ll be your affiliate manager here at Demio. Please don't hesitate to reach out to me with any questions regarding the affiliate program. Contact us at partners@demio.com</p>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <img src="img/img_manager.jpeg" alt="Image" />
            </div>
        </div>
    </div>
</section>
<!--end affiliates manager-->