<!--begin benefits hero-->
<section class="benefits_hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="title title__secondary">
                    <b>LimeCall benefits <br>
                        will make you smile.</b>
                </h1>
                <a class="btn_blue btn_circle" href="#/">Signup free</a>
                <ul>
                    <li>Free 14-day trial</li>
                    <li>Team plan features</li>
                    <li>No credit card required</li>
                </ul>
            </div>
            <div class="col-lg-6 text-right">
                <img src="img/img_benef_hero.svg" alt="Image" />
            </div>
        </div>
    </div>
</section>
<!--end benefits hero-->
<!--begin benefits list-->
<section class="benefits_list">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="benefits_item">
                    <div class="benefits_item__info">
                        <span>1</span>
                        <h2 class="title__secondary"><b>Increase sales</b></h2>
                        <p>Live chatting will speed up your customer service and positively impact your sales. Use LiveChat to assist your visitors exactly when they need it. This means more purchases and a higher average order value.</p>
                    </div>
                    <div class="benefits_item__image">
                        <img src="img/img_benef_1.svg" alt="Image" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="benefits_item">
                    <div class="benefits_item__info">
                        <span>2</span>
                        <h2 class="title__secondary"><b>Solve customer problems in a flash</b></h2>
                        <p>Instant answers in real time. LiveChat is the fastest way to help your customers. And they’ll feel it, too.</p>
                    </div>
                    <div class="benefits_item__image">
                        <img src="img/img_benef_2.svg" alt="Image" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="benefits_item">
                    <div class="benefits_item__info">
                        <span>3</span>
                        <h2 class="title__secondary"><b>Cut costs</b></h2>
                        <p>One live chat agent can talk with several customers at a time and still retain the same high customer satisfaction rates. This added efficiency will reduce your overall spend on customer service.</p>
                    </div>
                    <div class="benefits_item__image">
                        <img src="img/img_benef_3.svg" alt="Image" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="benefits_item benefits_cta">
                    <h2 class="title__secondary"><b>Watch your business grow with LimeCall.</b></h2>
                    <ul>
                        <li>Free 14-day trial</li>
                        <li>Team plan features</li>
                        <li>No credit card required</li>
                    </ul>
                    <a class="btn_white btn_circle" href="#/">Signup free</a>
                </div>
            </div>
            <div class="col-lg-6 benefits_full">
                <div class="benefits_item">
                    <div class="benefits_item__info">
                        <span>4</span>
                        <h2 class="title__secondary"><b>Build stronger relationships with customers</b></h2>
                        <p>One live chat agent can talk with several customers at a time and still retain the same high customer satisfaction rates. This added efficiency will reduce your overall spend on customer service.</p>
                    </div>
                    <div class="benefits_item__image">
                        <img src="img/img_benef_4.svg" alt="Image" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="benefits_item">
                    <div class="benefits_item__info">
                        <span>5</span>
                        <h2 class="title__secondary"><b>Boost your
                            credibility</b></h2>
                        <p>Adding LiveChat to your website adds credibility. Your visitors will instantly know there are real people on the other side ready to help at any moment.</p>
                    </div>
                    <div class="benefits_item__image">
                        <img src="img/img_benef_5.svg" alt="Image" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="benefits_item">
                    <div class="benefits_item__info">
                        <span>6</span>
                        <h2 class="title__secondary"><b>Make your
                            customer happier</b></h2>
                        <p>Customers who chat are much more satisfied with a brand's customer service than those who email or call. Reach a customer satisfaction (CSAT) score as high as 97%!</p>
                    </div>
                    <div class="benefits_item__image">
                        <img src="img/img_benef_6.svg" alt="Image" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="benefits_item benefits_cta">
                    <h2 class="title__secondary"><b>Watch your business grow with LimeCall.</b></h2>
                    <ul>
                        <li>Free 14-day trial</li>
                        <li>Team plan features</li>
                        <li>No credit card required</li>
                    </ul>
                    <a class="btn_white btn_circle" href="#/">Signup free</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="benefits_item">
                    <div class="benefits_item__info">
                        <span>7</span>
                        <h2 class="title__secondary"><b>Be proactive</b></h2>
                        <p>Engage with your website visitors any time you want. See a customer having trouble making a payment?
                            Reach out and give them a hand!</p>
                    </div>
                    <div class="benefits_item__image">
                        <img src="img/img_benef_7.svg" alt="Image" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="benefits_item">
                    <div class="benefits_item__info">
                        <span>8</span>
                        <h2 class="title__secondary"><b>Manage your team with ease</b></h2>
                        <p>Keep track of your customer service and sales team performance. Our extended reports and supervision features give you all the data to boost your teams' productivity.</p>
                    </div>
                    <div class="benefits_item__image">
                        <img src="img/img_benef_8.svg" alt="Image" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="benefits_item">
                    <div class="benefits_item__info">
                        <span>9</span>
                        <h2 class="title__secondary"><b>Keep your data secure</b></h2>
                        <p>We take the security of your data very seriously. From data encryption, access restrictions, and 2-step verification to GDPR compliance, HIPAA readiness and Privacy Shield Certification. We've got you covered.</p>
                    </div>
                    <div class="benefits_item__image">
                        <img src="img/img_benef_9.svg" alt="Image" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 benefits_full">
                <div class="benefits_item">
                    <div class="benefits_item__info">
                        <span>10</span>
                        <h2 class="title__secondary"><b>Connect LiveChat with your favorite tools</b></h2>
                        <p>Easily add your favorite tools to LiveChat, choose from 170+ integrations. Create the ultimate customer-centric experience. You can even build your own LiveChat extensions from scratch.</p>
                    </div>
                    <div class="benefits_item__image">
                        <img src="img/img_benef_10.svg" alt="Image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end benefits list-->