<!--begin blog header-->
<section class="blog_header">
    <div class="container">
        <div class="blog_header__wrapper row">
            <div class="col-sm-12 col-lg-9 center align-center">
                <h1 class="title">Our Blog</h1>
                <p>Our learnings on Call Management, Customer support, and Conversations.</p>
            </div>
        </div>
    </div>
</section>
<!--end blog header-->
<!--begin blog list-->
<section class="blog_list">
    <div class="container">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-recommended-tab" data-toggle="pill" href="#pills-recommended" role="tab" aria-controls="pills-recommended" aria-selected="false">Recommended</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-latest-tab" data-toggle="pill" href="#pills-latest" role="tab" aria-controls="pills-latest" aria-selected="false">Latest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-top-tab" data-toggle="pill" href="#pills-top" role="tab" aria-controls="pills-top" aria-selected="false">Top rated</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
                <div class="blog_list__wrapper blog_wrapper row">
                    <!--begin item-->
                    <div class="col-sm-12 col-lg-4">
                        <div class="blog_wrapper__item blog_item">
                            <div class="blog_item__title">
                                <h3 class="title"><a href="#">Lorem ipsum dolor sit amet, consectetuer adip- iscing</a></h3>
                            </div>
                            <div class="blog_item__img" style="background-image: url('img/blog_img.png')"></div>
                            <p>Lorem ipsum dolor sit amet, consec- tetuer adipiscing elit, sed diam nonummy nibh euismod</p>
                            <div class="blog_item__info blog_info">
                                <div class="blog_info__avatar">
                                    <img src="" alt="">
                                </div>
                                <div class="blog_info__text">
                                    <h4 class="title">Lorem ipsum dolor</h4>
                                    <p>10 march, 2019 | 10 min read </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--begin item-->
                </div>
            </div>
            <div class="tab-pane fade" id="pills-recommended" role="tabpanel" aria-labelledby="pills-recommended-tab">...2</div>
            <div class="tab-pane fade" id="pills-latest" role="tabpanel" aria-labelledby="pills-latest-tab">...3</div>
            <div class="tab-pane fade" id="pills-top" role="tabpanel" aria-labelledby="pills-top-tab">...4</div>
        </div>
    </div>
</section>
<!--end blog list-->