<!--begin brand assets hero-->
<section class="brand-assets-hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>All the assets you need to share <br> Limecall with your audience.</h1>
            </div>
        </div>
    </div>
</section>
<!--end brand assets hero-->
<!--begin brand assets text-->
<section class="brand-assets-text">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <h2 class="title__secondary"><b>Logo Kit</b></h2>
                <p>Download a folder containing all variations of the Limecall logo; images are available in PNG and SVG format.</p>
                <a href="#/" class="btn_dark btn_circle"><span class="anim"></span>Download</a>
            </div>
            <div class="col-12 col-md-6 col-lg-6 text-center">
                <img src="img/img_brand_assets.png" alt="Logos" />
            </div>
        </div>
    </div>
</section>
<!--end brand assets text-->
<!--begin brand assets colors-->
<section class="brand-assets-colors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="title__secondary"><b>Our brand colors</b></h2>
                <div class="wrapper">
                    <div class="item">
                        <div class="item-info">
                            <h3>Azure (Primary)</h3>
                            <p>#2c90e7</p>
                        </div>
                        <div class="item-color" style="background-color: #2c90e7;"></div>
                    </div>
                    <div class="item">
                        <div class="item-info">
                            <h3>Greasy Black (Text Color)</h3>
                            <p>#283238</p>
                        </div>
                        <div class="item-color" style="background-color: #283238;"></div>
                    </div>
                    <div class="item">
                        <div class="item-info">
                            <h3>Outer Space grey (Secondary)</h3>
                            <p>#f4f4f4</p>
                        </div>
                        <div class="item-color" style="background-color: #f4f4f4;"></div>
                    </div>
                    <div class="item">
                        <div class="item-info">
                            <h3>Navy Blue (Secondary)</h3>
                            <p>#2d22bc</p>
                        </div>
                        <div class="item-color" style="background-color: #2d22bc;"></div>
                    </div>
                    <div class="item">
                        <div class="item-info">
                            <h3>Ocean Green (Secondary)</h3>
                            <p>#05ccb9</p>
                        </div>
                        <div class="item-color" style="background-color: #05ccb9;"></div>
                    </div>
                    <div class="item">
                        <div class="item-info">
                            <h3>Carrot (Secondary)</h3>
                            <p>#f7931e</p>
                        </div>
                        <div class="item-color" style="background-color: #f7931e;"></div>
                    </div>
                    <div class="item">
                        <div class="item-info">
                            <h3>Sunny Green (Secondary)</h3>
                            <p>#d9e021</p>
                        </div>
                        <div class="item-color" style="background-color: #d9e021;"></div>
                    </div>
                    <div class="item">
                        <div class="item-info">
                            <h3>Linin Pink (Secondary)</h3>
                            <p>#f64c72</p>
                        </div>
                        <div class="item-color" style="background-color: #f64c72;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end brand assets colors-->