<!--begin callpage header-->
<section class="callpage_header">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 callpage_header__text center align-center">
                <h1 class="title">Finding a Callpage alternative?
                    Try Limecall for more effective sales calls
                </h1>
                <a class="btn_dark" href="#/">Start My Free Trial</a>
            </div>
        </div>
    </div>
</section>
<!--end callpage header-->
<!--begin callpage list-->
<section class="callpage_list">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 center align-center">
                <h2 class="callpage_list__title title__secondary">
                    <b>Top 5 Reasons to Choose Limecall</b> Over Callpage
                </h2>
            </div>
        </div>
        <div class="callpage_list__wrap callpage_wrap row">
            <div class="callpage_wrap__img col-sm-12 col-md-5 col-lg-4">
                <img src="img/img_call_4.png" alt="Image" />
            </div>
            <div class="callpage_wrap__text col-sm-12 col-md-7 col-lg-6">
                <h3 class="title"><b>24/7 Customer Support</b></h3>
                <p>Limecall support team can solve all your software related problem in minutes, not hours.</p>
            </div>
        </div>
        <div class="callpage_list__wrap callpage_wrap row">
            <div class="callpage_wrap__img col-sm-12 col-md-5 col-lg-4">
                <img src="img/img_call_4.png" alt="Image" />
            </div>
            <div class="callpage_wrap__text col-sm-12 col-md-7 col-lg-6">
                <h3 class="title"><b>Sales Agency Services</b></h3>
                <p>We can do the sales agency services for you and provide you the qualified leads, while your team can focus on closing. </p>
            </div>
        </div>
        <div class="callpage_list__wrap callpage_wrap row">
            <div class="callpage_wrap__img col-sm-12 col-md-5 col-lg-4">
                <img src="img/img_call_4.png" alt="Image" />
            </div>
            <div class="callpage_wrap__text col-sm-12 col-md-7 col-lg-6">
                <h3 class="title"><b>Affordable Pricing</b></h3>
                <p>Other callback widgets too expensive for you? Their basic plans having too little features?</p>
                <p>Not with Limecall.</p>
                <p>Starting at $49/month, we offer one of the affordable yet scalable pricing packages.</p>
            </div>
        </div>
        <div class="callpage_list__wrap callpage_wrap row">
            <div class="callpage_wrap__img col-sm-12 col-md-5 col-lg-4">
                <img src="img/img_call_4.png" alt="Image" />
            </div>
            <div class="callpage_wrap__text col-sm-12 col-md-7 col-lg-6">
                <h3 class="title"><b>In-app Callback Widget</b></h3>
                <p>You just want to simply call without your phone, simply call via our in-app callback widget.</p>
            </div>
        </div>
        <div class="callpage_list__wrap callpage_wrap row">
            <div class="callpage_wrap__img col-sm-12 col-md-5 col-lg-4">
                <img src="img/img_call_4.png" alt="Image" />
            </div>
            <div class="callpage_wrap__text col-sm-12 col-md-7 col-lg-6">
                <h3 class="title"><b>Rich Call Analytics</b></h3>
                <p>You want to learn more about your lead & sales process after the call to optimize it. Try our dashboard to give you a better understanding.</p>
            </div>
        </div>
        <div class="callpage_list__wrap callpage_wrap row">
            <div class="callpage_wrap__img col-sm-12 col-md-5 col-lg-4">
                <img src="img/img_call_4.png" alt="Image" />
            </div>
            <div class="callpage_wrap__text col-sm-12 col-md-7 col-lg-6">
                <h3 class="title"><b>More Lead Knowledge</b></h3>
                <p>Limecall gives more leads knowledge during the call about your caller so that you can have more engagement without lead enrichment features.</p>
            </div>
        </div>
    </div>
</section>
<!--end callpage list-->
<!--begin callpage table-->
<section class="callpage_table">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 callpage_table__text center align-center">
                <h2 class="title__secondary title"><b>Still not convinced?</b></h2>
                <p>Here’s our honest comparison for you to decide better.</p>
            </div>
        </div>
        <div class="callpage_table__wrapper callpage_table_wrap row">
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p><b>Item</b></p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p><b>CallPage</b></p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p><b>Limecall</b></p></div>
        </div>
        <div class="callpage_table__wrapper callpage_table_wrap row">
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Price per mont</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>159/month</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>$119/month</p></div>
        </div>
        <div class="callpage_table__wrapper callpage_table_wrap row">
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Number of Leads</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>150</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Unlimited</p></div>
        </div>
        <div class="callpage_table__wrapper callpage_table_wrap row">
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Call operators</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>5</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>5</p></div>
        </div>
        <div class="callpage_table__wrapper callpage_table_wrap row">
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Number of domains</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>5</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>5</p></div>
        </div>
        <div class="callpage_table__wrapper callpage_table_wrap row">
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Support</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Chat + Email</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Chat + Email</p></div>
        </div>
        <div class="callpage_table__wrapper callpage_table_wrap row">
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>24/7 Support</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>x</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Yes</p></div>
        </div>
        <div class="callpage_table__wrapper callpage_table_wrap row">
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Lead Enrichment</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>x</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Yes</p></div>
        </div>
        <div class="callpage_table__wrapper callpage_table_wrap row">
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Widget customization</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Yes</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Yes</p></div>
        </div>
        <div class="callpage_table__wrapper callpage_table_wrap row">
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Calls</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Yes</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Yes</p></div>
        </div>
        <div class="callpage_table__wrapper callpage_table_wrap row">
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Integrations</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Yes</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Yes</p></div>
        </div>
        <div class="callpage_table__wrapper callpage_table_wrap row">
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Automate workflow</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Yes</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Yes</p></div>
        </div>
        <div class="callpage_table__wrapper callpage_table_wrap row">
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Performance report</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Yes</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Yes</p></div>
        </div>
        <div class="callpage_table__wrapper callpage_table_wrap row">
            <div class="col-3 col-md-3 ol-md-3 callpage_table_wrap__item callpage_table_item"><p>Blacklist</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Yes</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Yes</p></div>
        </div>
        <div class="callpage_table__wrapper callpage_table_wrap row">
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Global calls</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Yes</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Yes</p></div>
        </div>
        <div class="callpage_table__wrapper callpage_table_wrap row">
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Manually Callback</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>No</p></div>
            <div class="col-3 col-md-3 col-md-3 callpage_table_wrap__item callpage_table_item"><p>Yes</p></div>
        </div>
        <div class="row">
            <div class="col-lg-12 callpage_table__text center align-center">
                <p>For sure, Callpage is a great enterprise software with rich software. But Limecall supports SMEs. It’s affordable and as powerful</p>
            </div>
        </div>
    </div>
</section>
<!--end callpage table-->
<!--begin home trial-->
<section class="home_trial">
    <div class="container">
        <div class="row">
            <div class="home_trial__title col-sm-12 col-lg-7 align-center center">
                <h2 class="title__secondary"><b>Considering Callpage? Here’s 2 weeks of Limecall free, on us.</b></h2>
                <p>You can try out our tool for 14 days, zero commitment.</p>
            </div>
            <div class="col-sm-12 col-lg-12 home_intro__form">
                <form>
                    <input type="email" placeholder="Business Email Address">
                    <input type="submit" value="Start my free trial">
                </form>
            </div>
        </div>
    </div>
</section>
<!--end home trial-->