<div class="case-study-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <a href="case-study.html" class="arrow">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </a>
            </div>
            <div class="col-lg-10">
                <h1>
                    Brex gets 3x more signups with personalized outreach.
                </h1>
                <p>
                    Brex is building the next generation of B2B financial services with better tech and without the restrictions of legacy technology. Brex customers instantly receive a card that has 20x higher limits, completely automates expense management, kills receipt tracking and magically integrates with their accounting systems. Brex card benefits are tailored to each customer’s vertical.
                </p>
                <p>
                    Thomas Cyr is the Head of Demand Gen and Marketing Operations. With 5 years of fintech marketing under his belt, most recently leading database marketing at Square, Thomas is looking forward to shaking up the antiquated industry.
                </p>
                <p>
                    Thomas Maremaa is the Growth Manager. Thomas has worked in growth at 6 different companies and has founded a couple of his own. His entrepreneurial and innovative inclination drive him to push the boundaries -- experimenting and iterating to unlock more business for Brex.
                </p>

                <h2>
                    Everything for Someone > Something for Everyone.
                </h2>
                <p>
                    Cyr: Banking and finance is a super antiquated industry and none of the products or services that exist out there really up until the last few years have actually solved vertical issues.
                </p>
                <p>
                    Maremaa: Our competitors, they're doing something for everyone and everyone gets treated as a business. At Brex, we do everything for someone. In this case, a very specific industry, life sciences, tech startups or ecommerce businesses.
                </p>
                <p>
                    Maremaa: We're going vertical by vertical. We're tailoring our products to specific industries and we need to be able to speak the same language that our audience speaks. What they're used to, and just be able to put their needs right in front of them, whether that be in a landing page, an email or an ad.
                </p>
                <h2>
                    +60% reply rate, 3x sign ups. Just sayin.
                </h2>
                <p>
                    Maremaa: We've been using Mutiny for target account emails where we add their own link to a unique offer and a personalized landing page, where we've seen three times as many sign ups, which is huge for us.
                </p>
                <h2>
                    What target accounts see
                </h2>
                <div class="image">
                    <img src="img/blog_img.png" alt="Image" />
                </div>
                <h2>
                    You got that new-new under control. Got anything for return?
                </h2>
                <p>
                    Maremaa: In regards to our known traffic, everyone that's interacted with Brex in the past through either ads, being cookied, email outreach or just everyone that's in our database, we've been able to personalize our whole homepage by industry. We're able to make the first fold tailored directly to them.
                </p>
                <p>
                    That's led to a 29% increase in applications completed, which to us is huge. It just reduces all the friction. Some people come in and they see the initial message of a corporate card for startups and they're like, 'Oh, but I'm an ecommerce business.' They would just drop out and not even scroll through the site or check out our navigation bar. So just seeing those numbers has been huge for us.
                </p>
                <h2>
                    What returning visitors see on Brex’s homepage
                </h2>
                <div class="image">
                    <img src="img/bg_home_person.jpg" alt="Image" />
                </div>
            </div>

        </div>
    </div>
</div>