<section class="case-study-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
               <a href="#" class="arrow">
                   <i class="fas fa-long-arrow-alt-left"></i>
               </a>
            </div>
            <div class="col-lg-10">
                <h1>
                    The fastest growing B2B companies are using Mutiny
                </h1>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="item">
                            <a href="case-study-single.html">
                                <img class="image" src="img/brex_purple.png" alt="Logo">
                                <h2 class="title">Brex gets 3x more signups with personalized outreach.</h2>
                                <div class="link">Listen to Thomas' story <i class="fas fa-chevron-right"></i></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item">
                            <a href="">
                                <img class="image" src="img/brex_purple.png" alt="Logo">
                                <h2 class="title">Brex gets 3x more signups with personalized outreach.</h2>
                                <div class="link">Listen to Thomas' story <i class="fas fa-chevron-right"></i></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item">
                            <a href="">
                                <img class="image" src="img/brex_purple.png" alt="Logo">
                                <h2 class="title">Brex gets 3x more signups with personalized outreach.</h2>
                                <div class="link">Listen to Thomas' story <i class="fas fa-chevron-right"></i></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item">
                            <a href="">
                                <img class="image" src="img/brex_purple.png" alt="Logo">
                                <h2 class="title">Brex gets 3x more signups with personalized outreach.</h2>
                                <div class="link">Listen to Thomas' story <i class="fas fa-chevron-right"></i></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item">
                            <a href="">
                                <img class="image" src="img/brex_purple.png" alt="Logo">
                                <h2 class="title">Brex gets 3x more signups with personalized outreach.</h2>
                                <div class="link">Listen to Thomas' story <i class="fas fa-chevron-right"></i></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item">
                            <a href="">
                                <img class="image" src="img/brex_purple.png" alt="Logo">
                                <h2 class="title">Brex gets 3x more signups with personalized outreach.</h2>
                                <div class="link">Listen to Thomas' story <i class="fas fa-chevron-right"></i></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
