<!--begin cases header-->
<section class="cases_header">
    <div class="container">
        <div class="row cases_header__wrapper">
            <div class="col-lg-6">
                <h1 class="title title__secondary">
                    <b>Convert more visitors into qualifed prospects & leads for your automotive business</b>
                </h1>
                <p>Limecall is a perfect callback communication platform for dealers in the <b>automotive business.</b></p>
                <div class="home_intro__form">
                    <form action="https://app.limecall.com/get-started" method="get">
                        <input type="email" placeholder="Business Email Address" name="email">
                        <input type="submit" value="Start my free trial">
                    </form>
                    <p>(Take your customer for the test drive and get jaw dropping results in seconds.
                        No credit card required)</p>
                </div>
            </div>
            <div class="col-lg-5">
                <img src="img/img_cases_1_header.jpg" alt="Cases">
            </div>
        </div>
    </div>
</section>
<!--end cases header-->
<!--begin cases list-->
<section class="cases_list">
    <div class="container">
        <div class="row cases_list__title">
            <div class="col-lg-9 center">
                <h2 class="title__secondary align-center">
                    <b>Features that are custom built for the</b> automotive industry to make your life better.
                </h2>
            </div>
        </div>
        <div class="row cases_list__wrapper">
            <div class="col-lg-4">
                <div class="cases_list__item">
                    <img src="img/img_cases_list_1.svg" alt="Icon">
                    <p><b>Successfully engage your web visitors</b></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cases_list__item">
                    <img src="img/img_cases_list_2.svg" alt="Icon">
                    <p><b>Offer an automatic callback in 25 seconds</b></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cases_list__item">
                    <img src="img/img_cases_list_3.svg" alt="Icon">
                    <p><b>Generate leads even when you’re sleeping</b></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cases_list__item">
                    <img src="img/img_cases_list_4.svg" alt="Icon">
                    <p><b>SMS follow-up afer call with your lead</b></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cases_list__item">
                    <img src="img/img_cases_list_5.svg" alt="Icon">
                    <p><b>Personalize your offer for every customer</b></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cases_list__item">
                    <img src="img/img_cases_list_6.svg" alt="Icon">
                    <p><b>Segment your leads before they call</b></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end cases list-->
<!--begin cases text-->
<section class="cases_text">
    <div class="container">
        <div class="row">
            <div class="cases_text__item col-sm-12 col-lg-7 align-center center">
                <p>Afer calls, your can store all information about your lead
                    in your <b>CRM or our Dashboard</b>.</p>
                <div class="home_intro__form">
                    <form action="https://app.limecall.com/get-started" method="get">
                        <input type="email" placeholder="Business Email Address" name="email">
                        <input type="submit" value="Start my free trial">
                    </form>
                    <p>(Take your customer for the test drive and get jaw dropping results in seconds. No credit card)</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end cases text-->
<!--begin cases about-->
<section class="cases_about">
    <div class="container">
        <div class="cases_about__wrapper row">
            <div class="col-lg-5">
                <img src="img/img_cases_1_text.jpg" alt="Image">
            </div>
            <div class="col-lg-6">
                <h2 class="title__secondary">
                    Convert your website passive leads
                    <b>into happy customers</b>
                </h2>
                <ul>
                    <li>Every website visitor is a potential customer. Call them before they leave your website.</li>
                    <li>Get an extra 80% of leads over the phone.</li>
                    <li>Close more deals and convert more website visitors even afer working hours.</li>
                    <li>Analyze your calls to get data and behavioral insights.</li>
                    <li>Let your customer call you from any timezones. Sell more cars with less efort.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--end cases about-->
<!--begin home trial-->
<section class="home_trial">
    <div class="container">
        <div class="row">
            <div class="home_trial__title col-sm-12 col-lg-7 align-center center">
                <h2 class="title__secondary"><b>Due to limecall widget</b><br/> your Business will have:</h2>
            </div>
            <div class="home_trial__text col-sm-12 col-lg-7 align-center center">
                <p><b>80%</b> more leads I <b>30%</b>increasing in closing I <b>100%</b> shortening in sales cycle</p>
            </div>
            <div class="col-sm-12 col-lg-12 home_intro__form">
                <form>
                    <input type="email" placeholder="Business Email Address">
                    <input type="submit" value="Start my free trial">
                </form>
                <p class="align-center">(Take your customer for the test drive and get jaw dropping results in seconds. No credit card)</p>
            </div>
        </div>
    </div>
</section>
<!--end home trial-->