<!--begin contacts-->
<section class="contacts">
    <div class="container">
        <div class="row">
            <div class="contacts__title col-lg-12 center align-center">
                <h1 class="title">Contact us</h1>
            </div>
        </div>
        <div class="contacts__wrapper row">
            <div class="col-lg-6 contacts__text">
                <div class="contacts__height">
                    <h2 class="title title__secondary">
                       <b> Want to speak to a human being?</b>
                    </h2>
                    <p class="">Nutshell’s team is available by phone, Monday through Friday from 9 a.m. to 4 p.m. ET.
                        For support questions, visit our Help Center or call us at
                        <b>(888) 336-8808</b> and say hello!</p>
                    <a class="btn_dark" href="#/">Help center</a>
                </div>
            </div>
            <div class="col-lg-6 contacts__form">
                <p>How can we help?</p>
                <select id="contact_options">
                    <option selected disabled>Select one</option>
                    <option value="my_company">I'm interested in getting Limecall for my company</option>
                    <option value="work_at">I want to work at Limecall</option>
                    <option value="business">I want to discuss a business partnership</option>
                </select>
                <div id="my_company" class="contacts__item">
                    1
                </div>
                <div id="work_at" class="contacts__item">
                    2
                </div>
                <div id="business" class="contacts__item">
                    3
                </div>
            </div>
        </div>
    </div>
</section>
<!--end contacts-->