<!--begin covid hero-->
<section class="covid-hero" style="background-image: url('img/img_covid_hero.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Call for <b>care</b> Initiative</h1>
            </div>
        </div>
    </div>
</section>
<!--end covid hero-->
<!--begin covid text-->
<section class="covid-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="img/icon_covid_text.svg" alt="Icon" />
                <h2>About the Call for Care Initiative</h2>
                <p>The Novel Coronavirus, or COVID-19, has had a profound impact on individuals and
                    businesses that are fighting to mitigate the impact of the virus. The strain no more evident, than in the healthcare industry, where healthcare providers in 26 countries, work valiantly to provide care for patients in need.</p>

                <p>We wish to recognize their selfless and tireless service, by supporting the healthcare
                    industry by committing a fund of US$100,000, to help care providers simplify and
                    automate the way their patients reach them from the web. We hope to make it
                    convenient, and easy for prospective patients with mild-to-moderate concerns in need of care to reach out to care providers, with just a click. This would facilitate inquiries and scheduling of planned visits or necessary purchase, simplifying the communication
                    process between patients and caregivers.</p>

                <p>Medical practices with a website can use Limecall’s proprietary software free of charge, with no strings attached, for a year. This social initiative is Limecall’s way of using its tech to give back to the industry at large.</p>

                <p>To read more about the motivations and the rationale of the fund, head over to the media release. Otherwise, click on register now to get on-board the Call for Care Initiative.</p>
                <div class="links">
                    <a class="btn_white btn_circle" href="#/"><span class="anim"></span>Read more</a>
                    <a class="btn_blue btn_circle" href="#/"><span class="anim"></span>Register now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end covid text-->
<!--begin covid steps-->
<section class="covid-steps">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 list">
                <h2 class="title__secondary">
                    <b>Get a call system worth</b> <b><span>$1,428,</span></b> free for a year.
                </h2>
                <ul>
                    <li>No strings attached.</li>
                    <li>150 successful calls per month.</li>
                    <li>Up to 5 medical agents.</li>
                    <li>International calls supported.</li>
                    <li>60 days call history.</li>
                    <li>5 sofware integrations.</li>
                    <li>Analytics on site visitors and calls.</li>
                    <li>Subject to Terms & Conditions</li>
                </ul>
            </div>
            <div class="col-lg-6 steps">
                <ul>
                    <li>
                        <h3>STEP 1</h3>
                        <p>Fill up form</p>
                    </li>
                    <li>
                        <h3>STEP 2</h3>
                        <p>Eligibility test (2 days)</p>
                    </li>
                    <li>
                        <h3>STEP 3</h3>
                        <p>Recieve account email</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--end covid steps-->
<!--begin covid qualifications-->
<section class="covid-qualifications">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="title__secondary"><b>Qualifcations</b></h2>
                <ul>
                    <li>
                        <div class="item">
                            <h3>Eligiblity</h3>
                        </div>
                        <div class="item">
                            <p>Medical clinics, specialist clinics, hospitals, medical NGOs in novel coronavirus (COVID-19) affected countries that are supported by Limecall</p>
                            <p><a href="#/">Check T&C for full list of countries.</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <h3>Application</h3>
                        </div>
                        <div class="item">
                            <p>Registration required for eligibility approval.</p>
                            <p><a href="#/">Check T&C for full list of countries.</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <h3>Benefits</h3>
                        </div>
                        <div class="item">
                            <p>Approved clinics and organizations will receive Limecall’s callback system under the Team plan at no cost, to facilitate ease of medical communications.</p>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <h3>Period</h3>
                        </div>
                        <div class="item">
                            <p>1 year</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--end covid qualifications-->
<!--begin covid registration-->
<section class="covid-registration">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="title__secondary">
                    <b>Register Now</b>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form action="">
                    <label for="">
                        First name
                        <input type="text">
                    </label>
                    <label for="">
                        Last name
                        <input type="text">
                    </label>
                    <label for="">
                        Email
                        <input type="email">
                    </label>
                    <label for="">
                        Phone Number (with country code)
                        <input type="tel">
                    </label>
                    <label for="">
                        Company name
                        <input type="text">
                    </label>
                    <label for="">
                        Company Website URL
                        <input type="text">
                    </label>
                    <label for="">
                        Country
                        <select name="" id="">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </label>
                    <label for="">
                        Medical Provider type
                        <select name="" id="">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </label>
                    <label for="" class="full">
                        Anything else you can share to help us verify these details? *
                        <p>Here are acceptable forms of verifcation we consider:  (i) Company registration letter (ii) Press feature or announcement. The more details you give us, the easier it'll be to approve your application. For attachments, please include them in the next question! </p>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </label>
                    <label for="">
                        Attachments
                        <input type="file">
                    </label>
                    <div class="btn-send">
                        <input class="btn_blue btn_circle" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--end covid registration-->