<!--begin customer success hero-->
<section class="cs-hero" style="background-image: url('img/bg_cs_hero.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Customer Success at Limecall</h1>
            </div>
        </div>
    </div>
</section>
<!--end customer success hero-->
<!--begin customer success content-->
<section class="cs-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text text-center">
                    <h4 class="title__secondary">Your success is our success</h4>
                    <p>That’s why at Usabilla we are not only committed to our customers, we live and breathe customer-centricity. We provide you with a dedicated Customer Success Manager and offer full support for implementation, as well as resources and guides along the way to ensure you achieve your goals.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end customer success content-->
<!--begin customer success help-->
<section class="cs-help">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="title__secondary">
                    <b>How can we help you?</b>
                </h2>
            </div>
        </div>
    </div>
    <div class="swiper-help">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="img/cs-1.svg" alt="Image" />
                        </div>
                        <div class="col-lg-8">
                            <h3>Expert Advice</h3>
                            <p>With over 9 years of experience, we have a wide base of industry-specific best practices and knowledge sharing. Our team will work with you to brainstorm new goals, strategize, and analyze your data to facilitate action within your organization.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="img/cs-2.svg" alt="Image" />
                        </div>
                        <div class="col-lg-8">
                            <h3>Team Effort</h3>
                            <p>You’ve got a team of experts behind you. Customer Success Managers ensure a swift onboarding and guide your through your Voice of Customer journey. Technical Success Specialists provide on-demand support, and the Product Team will listen to and explore your feature requests.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="img/cs-3.svg" alt="Image" />
                        </div>
                        <div class="col-lg-8">
                            <h3>Personalized Approach</h3>
                            <p>You receive an exhaustive diagnosis and feedback plan. We understand that every client’s goals are different and we work to understand your needs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"><a class="btn_dark btn_circle" href="#/"><span class="anim"></span><i class="fas fa-chevron-right"></i></a></div>
        <div class="swiper-button-prev"><a class="btn_dark btn_circle" href="#/"><span class="anim"></span><i class="fas fa-chevron-left"></i></a></div>
    </div>
</section>
<!--end customer success help-->
<section class="voc-method">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <ul>
                    <li>
                        <h3>Ask</h3>
                        <p>Gather feedback across all the important touch points in the customer or user journey, across
                            websites, mobile apps, emails, or in-store.</p>
                    </li>
                    <li>
                        <h3>Analyze</h3>
                        <p>After collection of the data, the key insights will show you where to take action. You can
                            analyze the data across dates, ratings, labels, to draw conclusions and act.</p>
                    </li>
                    <li>
                        <h3>Act</h3>
                        <p>Turn your Voice of Customer insights into actions that improve your customer's journey, and
                            truly drive organizational change towards customer-centricity.</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 text-center">
                <div class="image">
                    <img src="img/cycle-aaa.svg" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!--begin customer success testimonials-->
<section class="cs-testimonials">
    <div class="swiper-testimonials">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="img/cs-jacky-ten-cate.png" alt="Avatar" />
                        </div>
                        <div class="col-lg-8">
                            <p>“Our Customer Success team is extraordinary. They are the driving force behind empowering our clients with expert knowledge to reach and exceed their goals. For personalized consultancy, our Customer Success Managers research their client’s goals, uncover motives behind the goals, and deliver best practices that are unique to each industry and role. With all of our different strengths, from technical specialists to implementation support, our combined skills create a driving force of action and success!”</p>
                            <div class="info">
                                <h5>Jacky ten Cate</h5>
                                <h6>Head of Customer Success</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="img/cs-steven-farina.png" alt="Avatar" />
                        </div>
                        <div class="col-lg-8">
                            <p>“Customer Success is like the ground control team for a spaceship. Once clients come on board the Usabilla Spaceship, Customer Success Managers train our new clients on how to operate the ship and hit the launch button to send them flying into the feedback galaxy where they start collecting feedback. Back on earth, we give them the tools to talk to their customers in the most effective way, collecting valuable feedback and managing it on their own. If anything goes wrong on the ship in the meantime, they can always relay and SOS to our Support team who will assist with technical advice.“</p>
                            <div class="info">
                                <h5>Steven Farina</h5>
                                <h6>Customer Success Manager</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="img/cs-alexandra-bezozo.png" alt="Avatar" />
                        </div>
                        <div class="col-lg-8">
                            <p>“It’s not just about ensuring our clients are using our solution in the right way. My job is to guarantee that with the results our clients collect, they’re able to make improvements to their user journey. Feedback is useless unless acted upon, and I don’t believe there is a success until a client receives actionable feedback and is able to make adjustments to their digital user experience because of it. As a CSM, I am not only to be used when becoming familiar with the Usabilla solution. I am here for my clients throughout the feedback collection process, even after the feedback has done its magic.”</p>
                            <div class="info">
                                <h5>Alexandra Bezozo</h5>
                                <h6>Customer Success Manager</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"><a class="btn_dark btn_circle" href="#/"><span class="anim"></span><i class="fas fa-chevron-right"></i></a></div>
        <div class="swiper-button-prev"><a class="btn_dark btn_circle" href="#/"><span class="anim"></span><i class="fas fa-chevron-left"></i></a></div>
    </div>
</section>
<!--end customer success testimonials-->
<!--begin customer success logos-->
<section class="customer-success-logos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="title__secondary">
                    <b>Our happy customers</b>
                </h2>
                <p>20,000 professionals worldwide trust Usabilla</p>
            </div>
        </div>
        <div class="row wrapper">
            <div class="col-lg-3">
                <div class="item">
                    <img src="img/logo_abn.svg" alt="Logo" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item">
                    <img src="img/logo_tmobile.svg" alt="Logo" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item">
                    <img src="img/logo_randstad.svg" alt="Logo" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item">
                    <img src="img/logo_allergo.svg" alt="Logo" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item">
                    <img src="img/logo_virgin.svg" alt="Logo" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item">
                    <img src="img/logo_rtlnederland.svg" alt="Logo" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item">
                    <img src="img/logo_klm.svg" alt="Logo" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item">
                    <img src="img/logo_th.svg" alt="Logo" />
                </div>
            </div>
        </div>
        <div class="link">
            <a class="btn_dark btn_circle" href="#/"><span class="anim"></span>Read all success stories</a>
        </div>
    </div>
</section>
<!--end customer success logos-->