<!--begin customer engagement hero-->
<section class="customer-engagement-hero">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <h5>Intercom for lead generation</h5>
                <h1 class="title__secondary">
                    <b>More customers, more revenue, more quickly</b>
                </h1>
                <p>Increase website conversions with chatbots, and grow sales through real-time conversations.</p>
                <a class="btn_dark btn_circle" href="/demo/"><span class="anim"></span>Get a demo</a>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <img src="img/img_ce_hero.jpg" alt="Imagefg">
            </div>
        </div>
    </div>
</section>
<!--end customer engagement hero-->
<!--begin wil tabs-->
<section class="wil-tabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="title__secondary">
                    <b>Key features</b>
                </h2>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab2" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                            <h3><img src="img/icon_messenger.png" alt="Icon" /> Business Messenger</h3>
                            <p>Target valuable leads on your website and chat with them via our Business Messenger – our bots will qualify and schedule for you.</p>
                        </a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                            <h3><img src="img/icon_platform.png" alt="Icon" /> Management tools</h3>
                            <p>Customize every part of your sales team’s workflows, like routing priority leads based on company size.</p>
                        </a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">
                            <h3><img src="img/icon_users.png" alt="Icon" /> Customer data platform</h3>
                            <p>Arm your sales team with the information they need to have effective conversations and close more deals.</p>
                        </a>
                        <a class="nav-item nav-link" id="nav-contact2-tab" data-toggle="tab" href="#nav-contact2" role="tab" aria-controls="nav-contact2" aria-selected="false">
                            <h3><img src="img/icon_apps.png" alt="Icon" /> Apps & integrations</h3>
                            <p>Automatically keep your data in sync and up to date across your entire tech stack.</p>
                        </a>
                    </div>
                </nav>
            </div>
            <div class="col-lg-6">
                <div class="tab-content" id="nav-tabContent2">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <img src="img/img_hiw2.webp" alt="Image" />
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <img src="img/img_hiw3.webp" alt="Image" />
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <img src="img/img_hiw4.webp" alt="Image" />
                    </div>
                    <div class="tab-pane fade" id="nav-contact2" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <img src="img/img_hiw5.webp" alt="Image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end wil tabs-->
<!--begin customer engagement testimonial-->
<section class="customer-engagement-testimonial">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="item">
                    <div class="image">
                        <img src="img/img_ce_testimonial1.webp" alt="">
                    </div>
                    <div class="testimonial">
                        <p>“Our welcome message prompts conversations we might not have had without the Messenger. Now, 30% of paid signups are attributed to Intercom!”</p>
                    </div>
                    <div class="info">
                        <div class="logo"><img src="img/logo_elegant-themes.png" alt="Logo" /></div>
                        <div class="text">
                            <h4>Mitch Skolnik</h4>
                            <p>Head of Operations, Elegant Themes</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="item">
                    <div class="image">
                        <img src="img/img_ce_testimonial2.webp" alt="">
                    </div>
                    <div class="testimonial">
                        <p>“We can capitalize on visitor intent with Intercom. In our first 3 months, Intercom accounted for 80% of inbound inside sales revenue.”</p>
                    </div>
                    <div class="info">
                        <div class="logo"><img src="img/logo_unity.png" alt="Logo" /></div>
                        <div class="text">
                            <h4>Jesus Requena</h4>
                            <p>Director, Growth Marketing, Unity</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end customer engagement testimonial-->
<!--begin customer engagement different-->
<section class="customer-engagement-different">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9 col-lg-8 text-center">
                <h2 class="title__secondary">
                    <b>What makes our lead generation solution different</b>
                </h2>
            </div>
        </div>
        <div class="row wrapper">
            <div class="col-lg-6 item">
                <div class="logo">
                    <img src="img/icon_ce_different.png" alt="Icon" />
                </div>
                <h2 class="title__secondary">
                    <b>Smarter routing and lead qualification</b>
                </h2>
                <p>Automate lead routing based on rules, qualify leads 24/7 and schedule sales demos with chatbots.</p>
                <a class="btn_dark btn_circle" href="#/"><span class="anim"></span>Learn more</a>
            </div>
            <div class="col-lg-6 item">
                <img src="img/img_FlowChart.webp" alt="Image">
            </div>
        </div>
        <div class="row wrapper">
            <div class="col-lg-6 item">
                <div class="logo">
                    <img src="img/icon_ce_different2.png" alt="Icon" />
                </div>
                <h2 class="title__secondary">
                    <b>Connect reps with leads in real-time</b>
                </h2>
                <p>Use our Messenger to capture intent in the moment and speed up sales cycles instead of relying on slow follow-up emails.</p>
                <a class="btn_dark btn_circle" href="#/"><span class="anim"></span>Learn more</a>
            </div>
            <div class="col-lg-6 item">
                <img src="img/img_FlowChart.webp" alt="Image">
            </div>
        </div>
        <div class="row wrapper">
            <div class="col-lg-6 item">
                <div class="logo">
                    <img src="img/icon_ce_different3.png" alt="Icon" />
                </div>
                <h2 class="title__secondary">
                    <b>Integrated with your entire tech stack</b>
                </h2>
                <p>Connect Intercom with tools like Salesforce, Marketo, and more to sync data and automate workflows.</p>
                <a class="btn_dark btn_circle" href="#/"><span class="anim"></span>Learn more</a>
            </div>
            <div class="col-lg-6 item">
                <img src="img/img_FlowChart.webp" alt="Image">
            </div>
        </div>
    </div>
</section>
<!--end customer engagement different-->
<!--begin customer engagement take-->
<section class="customer-engagement-take">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="logo">
                    <img src="img/icon_acquire.png" alt="Image" />
                </div>
                <h2 class="title__secondary">
                    <b>Take your pipeline to the next level</b>
                </h2>
                <p>Grow your pipeline faster with the <b>advanced lead generation</b> add-on:</p>
                <ul>
                    <li>Connect target accounts to account owners with real-time ABM</li>
                    <li>Use apps within bots to automate sales workflows</li>
                    <li>Identify, target, and nurture leads with our Clearbit Reveal and Marketo integrations</li>
                </ul>
                <a class="btn_white btn_circle" href="#/"><span class="anim"></span>See pricing</a>
            </div>
            <div class="col-lg-6">
                <img src="img/img_ce_take.webp" alt="Image" />
            </div>
        </div>
    </div>
</section>
<!--end customer engagement take-->
<!--begin wil explore-->
<section class="wil-explore">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="title__secondary"><b>More ways to use Intercom</b></h2>
            </div>
        </div>
        <div class="row wrapper">
            <div class="col-lg-6">
                <div class="item">
                    <img src="img/icon_acquire.png" alt="Icon" />
                    <h3>Customer engagement</h3>
                    <p>Activate and retain customers with targeted messages and interactive product tours to help them get the most out of your product.</p>
                    <a class="btn_dark btn_circle" href="#/"><span class="anim"></span>Learn more</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item">
                    <img src="img/icon_enage.png" alt="Icon" />
                    <h3>Customer support</h3>
                    <p>Provide real-time, personal help at scale with a collaborative inbox, automation, and self-service support.</p>
                    <a class="btn_dark btn_circle" href="#/"><span class="anim"></span>Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end wil explore-->