<section class="cx-hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Usabilla for CX Professionals</h1>
                <p>Usabilla for CX Professionals</p>
            </div>
        </div>
    </div>
</section>
<section class="cx-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="item">
                    <div class="image">
                        <img src="img/chats.svg" alt="">
                    </div>
                    <div class="text">
                        <h3>Capture customer sentiment</h3>
                        <p>Let customers intuitively tell you why they are satisfied or not</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <div class="image">
                        <img src="img/check.svg" alt="">
                    </div>
                    <div class="text">
                        <h3>Take action to minimize roadblocks</h3>
                        <p>Manage your feedback and resolution progress to avoid repeating mistakes</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <div class="image">
                        <img src="img/hist.svg" alt="">
                    </div>
                    <div class="text">
                        <h3>Improve customer satisfaction</h3>
                        <p>Reimagine your digital experiences based on what customers want</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cx-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text text-center">
                    <h4>enhance your customer experience</h4>
                    <h2 class="title__secondary">
                        <b>Empower your customers to give you the answers</b>
                    </h2>
                    <p>Drive customer-centricity across your organization by understanding your customers better. Capture insightful data on the digital experience to minimize issues and make improvements. Your customers are the key to your success.</p>
                    <p>With Usabilla’s Voice of Customer suite, you can seamlessly ask your customers about their experience at various touchpoints in their journey, including across websites, mobile apps, and email. Define your goals by measuring your customers’ happiness through a variety of metrics to identify areas for improvement. Take action with your team in a variety of ways, whether with case management tools or integrations with existing processes.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cx-list" style="background-image: url('img/solutions.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <ul>
                    <li>
                        <h3>Ask the right questions</h3>
                        <p>To understand where your customers are having issues, go directly to the source. Set up a survey and utilize our flexible targeting options to capture insights at any point in the customer journey across your digital channels.</p>
                    </li>
                    <li>
                        <h3>Report on customer health</h3>
                        <p>Dig deeper into your customer data to analyze various KPIs that are key to your brand experience, such as NPS, CSAT, and CES. Visualize your data with our emotional trendline, benchmarking, key insights, and more.</p>
                    </li>
                    <li>
                        <h3>Bring in your support teams</h3>
                        <p>With extensive case management tools, you can notify, track, and manage the progress of your customer’s feedback. Automate tagging and integrate with support software like Zendesk or issue tracking software like JIRA to resolve issues quickly.</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 d-block d-md-block d-lg-none">
                <div class="image">
                    <img src="img/solutions.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cx-webinar">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="image">
                    <a href="#"><img src="img/cx-professionals-webinar.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text">
                    <h4>Webinar</h4>
                    <h3>The Digital Component of Transforming Customer Experience</h3>
                    <p>An exploration of the increasingly digital customer interactions with brands. Learn how to align your organization with your vision for digital customer experience and the ROI of your investments.</p>
                    <a href="#" class="btn_blue btn_circle">
                        <span class="anim"></span>
                        Watch now
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cx-review">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="image">
                    <img src="img/chats.svg" alt="">
                </div>
                <div class="text">
                   <h5>
                        “Usabilla enables us to continously monitor and improve the customer experience on our website; we are able to identify issues and priotize improvements in a quick and easy way.”
                   </h5>
                    <p><i>Pieter Honig, Digital Business Analyst</i></p>
                    <a href="#" class="btn_circle">
                        <span class="anim"></span>
                        Download Case Study
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>