<!--begin default-->
<section class="default">
    <div class="container">
        <div class="row">
            <div class="default__title col-lg-12 center align-center">
                <h1 class="title">Privacy Policy</h1>
            </div>
            <div class="default__text col-sm-12 col-lg-9">
                <h2 class="title">Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda corporis culpa eius fugiat harum, inventore iste itaque libero nam natus nihil nisi placeat quae sapiente sit tempora. Necessitatibus, quia!</p>
                <ul>
                    <li>Test</li>
                    <li>Test 1</li>
                </ul>
                <ol>
                    <li>Test</li>
                    <li>Test 1</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--end deafault-->