<!--begin early hero-->
<section class="early-stage">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 col-lg-6">
                <small>The Intercom Early Stage Program</small>
                <h1>The best way to grow your early-stage startup</h1>
                <p>Eligible startups get advanced Intercom features from just $49/mo for up to one year.</p>
                <a class="btn_blue btn_circle" href="#/"><span class="anim"></span>Signup free</a>
                <ul>
                    <li>
                        <a href="#/"> Learn more</a> about early-stage pricing.
                    </li>
                    <li>Already using Intercom? <a href="#/">Sign in</a>.</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <img src="img/EarlyStage_Hero.webp" alt="Image" />
            </div>
        </div>
    </div>
</section>
<!--end early hero-->

<!--begin early numbers-->
<section class="early-numbers">
    <div class="container">
        <div class="row wrapper">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="item">
                    <div class="number">5,000+</div>
                    <p>startups from top incubators around the world choose Intercom</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="item">
                    <div class="number">84%</div>
                    <p>of new Y Combinator companies that use a messaging tool choose Intercom</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end early numbers-->

<!--begin early relationships-->
<section class="early-relationships">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="title__secondary">
                    <b>Great customer relationships start with Intercom</b>
                </h2>
            </div>
        </div>
        <div class="row wrapper">
            <div class="col-12 col-md-4 col-lg-4">
                <div class="item">
                    <img src="img/EarlyStage_Spot_LoyalCustomer.webp" alt="Image" />
                    <h4>From visitor to loyal customer</h4>
                    <p>Intercom’s the one tool you need to reach your customers across every step of the lifecycle</p>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="item">
                    <img src="img/EarlyStage_Spot_Easy.webp" alt="Image" />
                    <h4>Easy to set up, even easier to use</h4>
                    <p>Onboard in minutes and start interacting with customers in days instead of months</p>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="item">
                    <img src="img/EarlyStage_Spot_BuiltForStartups.webp" alt="Image" />
                    <h4>Built and priced for early-stage startups</h4>
                    <p>Access a robust suite of tools to connect with customers, at a price that fits your budget</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end early relationships-->

<!--begin early tabs-->
<section class="early-tabs">
    <div class="container">
        <div class="row wrapper">
            <div class="col-12 col-md-6 col-lg-6">
                <h2 class="title__secondary">
                    <b>Communicate with your customers in one place</b>
                </h2>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="true"><b>Engage website visitors</b> with welcome messages and live chat</a>
                        <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2" aria-selected="false"><b>Create guided product tours</b> to onboard your new customers </a>
                        <a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3" aria-selected="false"><b>Promote new features</b> and offers through targeted in-app and email messages</a>
                    </div>
                </nav>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
                        <img src="img/EarlyStage_Spot_BuiltForStartups.webp" alt="Image" />
                    </div>
                    <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">.2..</div>
                    <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">.3..</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end early tabs-->