<!--begin free tools hero-->
<section class="free-tools-hero">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="col-lg-12 text-center">
                    <h1 class="title__secondary">Limecall Free Tools</h1>
                    <p>Use our free tools to verify phone numbers, emails, detect Unicode characters and much more.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end free tools hero-->
<!--begin free tools list-->
<section class="free-tools-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="item">
                    <div class="icon">
                        <img src="img/" alt="Icon" />
                    </div>
                    <div class="text">
                        <h3>Carrier Lookup by Phone Number</h3>
                        <p>Extract useful information about phone numbers with the carrier lookup tool.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item">
                    <div class="icon">
                        <img src="img/" alt="Icon" />
                    </div>
                    <div class="text">
                        <h3>SMS Length Calculator</h3>
                        <p>Calculate SMS length for free and see how your texts will look on a client’s device.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item">
                    <div class="icon">
                        <img src="img/" alt="Icon" />
                    </div>
                    <div class="text">
                        <h3>Phone Number Validation</h3>
                        <p>Expand your contact database and validate phone numbers with our free tool.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item">
                    <div class="icon">
                        <img src="img/" alt="Icon" />
                    </div>
                    <div class="text">
                        <h3>Texting Speed Challenge</h3>
                        <p>Find out your texting and typing speed by taking our fun texting speed challenge.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item">
                    <div class="icon">
                        <img src="img/" alt="Icon" />
                    </div>
                    <div class="text">
                        <h3>RRULE Generator for iCal Events</h3>
                        <p>Generate iCalendar RRULE string to programmatically define recurring events.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item">
                    <div class="icon">
                        <img src="img/" alt="Icon" />
                    </div>
                    <div class="text">
                        <h3>URL Encoder & Decoder</h3>
                        <p>URL encode or URL decode a string that you can use to send text messages via API.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item">
                    <div class="icon">
                        <img src="img/" alt="Icon" />
                    </div>
                    <div class="text">
                        <h3>Billing Address Validation</h3>
                        <p>Perform address validation and a ZIP/Post code check with our free address validation tool.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item">
                    <div class="icon">
                        <img src="img/" alt="Icon" />
                    </div>
                    <div class="text">
                        <h3>Transliteration for Text Messages</h3>
                        <p>Transliterate text messages written in any language to Latin-only with this free tool.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item">
                    <div class="icon">
                        <img src="img/" alt="Icon" />
                    </div>
                    <div class="text">
                        <h3>Unix Timestamp Converter</h3>
                        <p>Use this converter to create a string to be used in your app to schedule text messages.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item">
                    <div class="icon">
                        <img src="img/" alt="Icon" />
                    </div>
                    <div class="text">
                        <h3>Case Converter</h3>
                        <p>Use the free case converter to correctly format your documents and texts.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item">
                    <div class="icon">
                        <img src="img/" alt="Icon" />
                    </div>
                    <div class="text">
                        <h3>Secure Password Generator</h3>
                        <p>Instantly generate strong passwords for your accounts with the password generator.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item">
                    <div class="icon">
                        <img src="img/" alt="Icon" />
                    </div>
                    <div class="text">
                        <h3>Unicode Character Detector</h3>
                        <p>Instantly identify standard GSM character set and Unicode characters in your text messages.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item">
                    <div class="icon">
                        <img src="img/" alt="Icon" />
                    </div>
                    <div class="text">
                        <h3>Browser Update Tool</h3>
                        <p>Find out if your browser is out of date and perform a browser update instantly.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end free tools list-->