<!--begin header-->
<header class="header header_white">
    <div class="header_wrap row">
        <div class="col-6 col-sm-6 col-lg-2">
            <a href="/"><img src="img/logo_white.svg" alt="Logo"></a>
        </div>
        <div class="col-6 col-sm-6 col-lg-10">
            <div class="header_wrap__nav header_nav">
                <nav>
                    <ul>
                        <li><a href="#">Product</a></li>
                        <li><a href="#">Blog</a></li>
                        <li class="has-child">
                            <a href="#">Resources</a>
                            <ul class="sub-menu">
                                <li><a href="#/">Test</a></li>
                                <li><a href="#/">Test 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Sign in</a></li>
                    </ul>
                </nav>
                <div class="header_nav__form">
                    <form>
                        <input type="email" placeholder="Enter your email">
                        <input type="submit" value="Start my free trial">
                    </form>
                </div>
            </div>
            <div class="header_wrap__icon">
                <a href="#/"><i class="fas fa-bars"></i></a>
            </div>
        </div>
    </div>
    <div class="header_mobile">
        <div class="header_wrap__nav header_nav">
            <nav>
                <ul>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Blog</a></li>
                    <li class="has-child">
                        <a href="#">Resources</a>
                        <ul class="sub-menu">
                            <li><a href="#/">Test</a></li>
                            <li><a href="#/">Test 2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Sign in</a></li>
                </ul>
            </nav>
            <div class="header_nav__form">
                <form>
                    <input type="email" placeholder="Enter your email">
                    <input type="submit" value="Start my free trial">
                </form>
            </div>
        </div>
    </div>
</header>
<!--end header-->