<!--begin header-->
<header class="header">
    <div class="header_wrap row">
        <div class="col-6 col-sm-6 col-lg-2">
            <a href="/"><img src="img/logo.svg" alt="Logo"></a>
        </div>
        <div class="col-6 col-sm-6 col-lg-10">
            <div class="navigation">
                <nav>
                    <ul>
                        <li class="item">
                            <a href="">Product</a>
                            <div class="sub">
                                <ul>
                                    <h3>Our Products</h3>
                                    <li><a href="">Overview</a></li>
                                    <li><a href="">Web Calls <span>Instant Conversations for Customers</span></a></li>
                                    <li><a href="">Call Back <span>Two way instant call connection</span></a></li>
                                    <li><a href="">Call Scheduling</a></li>
                                    <li><a href="">Incoming Numbers</a></li>
                                    <li><a href="">SMS <span>Increase Reach rates with Inbuilt sms</span></a></li>
                                    <li><a href="">Lead Management</a></li>
                                    <li><a href="">Customer Management <span>Know your VIP Customers</span></a></li>
                                    <li><a href="">Analytics & Reporting</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="item">
                            <a href="">Solutions</a>
                            <div class="sub sub-two">
                                <ul>
                                    <h3>By Role</h3>
                                    <li>
                                        <a href="">
                                            <img src="img/for_product_teams.svg" alt="Icon" />
                                            For Product Teams
                                            <span>Optimize user experience</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="img/for_product_teams.svg" alt="Icon" />
                                            For Marketing Teams
                                            <span>Build brand loyalty</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="img/for_product_teams.svg" alt="Icon" />
                                            For CX Professionals
                                            <span>Improve customer journeys</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="img/for_product_teams.svg" alt="Icon" />
                                            For Analysts & Researchers
                                            <span>Make insights actionable</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="img/for_product_teams.svg" alt="Icon" />
                                            For People & Culture
                                            <span>Engage your employees</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="img/for_product_teams.svg" alt="Icon" />
                                            For Digital & Innovation
                                            <span>Drive customer-centricity</span>
                                        </a>
                                    </li>
                                </ul>
                                <ul>
                                    <h3>By Industry</h3>
                                    <li>
                                        <a href="">
                                            <img src="img/for_product_teams.svg" alt="Icon" />
                                            E-Commerce & Retail
                                            <span>Improve conversions</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="img/for_product_teams.svg" alt="Icon" />
                                            Finance & Insurance
                                            <span>Build trust and innovate</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="img/for_product_teams.svg" alt="Icon" />
                                            Travel, Tourism & Aviation
                                            <span>Deliver a world-class journey</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="img/for_product_teams.svg" alt="Icon" />
                                            Automotive
                                            <span>Fuel service excellence</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="img/for_product_teams.svg" alt="Icon" />
                                            Software, IT & Technology
                                            <span>Continuously optimize</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="img/for_product_teams.svg" alt="Icon" />
                                            Telecom
                                            <span>Connect with customers</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="item">
                            <a href="">Pricing</a>
                        </li>
                        <li class="item">
                            <a href="">Resources</a>
                            <div class="sub sub-two">
                                <ul>
                                    <li>
                                        <a href="">
                                            <img src="img/for_product_teams.svg" alt="Icon" />
                                            Blog <span>Follow industry trends</span>
                                        </a>
                                    </li>
                                    <li><a href="">Follow industry trends <span>Experts' knowledge sharing</span></a></li>
                                    <li><a href="">Webinars <span>On-demand webinars</span></a></li>
                                    <li><a href="">Research <span>Elaborate trend reports</span></a></li>
                                    <li><a href="">Success Stories <span>Real-life case studies</span></a></li>
                                </ul>
                                <ul>
                                    <li><a href="">Voice of Customer (VoC) <span>A quick guide to what VoC is</span></a></li>
                                    <li><a href="">Customer Feedback <span>The secret is simple: listen</span></a></li>
                                    <li><a href="">Net Promoter Score (NPS) <span>Gauge your customer loyalty</span></a></li>
                                    <li><a href="">The Feedback Economy <span>How you can succeed</span></a></li>
                                    <li><a href="">VoC Glossary <span>Technical terms and definitions</span></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--<div class="header_wrap__nav header_nav">-->
                <!--<nav>-->
                    <!--<ul>-->
                        <!--<li><a href="#">Product</a></li>-->
                        <!--<li><a href="#">Blog</a></li>-->
                        <!--<li class="menu-item-has-children">-->
                            <!--<a href="#">Resources</a>-->
                            <!--<ul class="sub-menu">-->
                                <!--<li><a href="#/">Test234234 xgdfgdfg</a></li>-->
                                <!--<li><a href="#/">Tessfdsdf dfgsdf</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li><a href="#">Pricing</a></li>-->
                        <!--<li><a href="#">Sign in</a></li>-->
                    <!--</ul>-->
                <!--</nav>-->
                <!--<div class="header_nav__form">-->
                    <!--<form>-->
                        <!--<input type="email" placeholder="Enter your email">-->
                        <!--<input type="submit" value="Start my free trial">-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->

            <div class="header_wrap__icon">
                <a href="#/"><i class="fas fa-bars"></i></a>
                <a href="#/"><i class="fas fa-times"></i></a>
            </div>
        </div>
    </div>
    <div class="header_mobile">
        <div class="header_wrap__nav header_nav">
            <nav>
                <ul>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Blog</a></li>
                    <li class="has-child">
                        <a href="#">Resources</a>
                        <ul class="sub-menu">
                            <li><a href="#/">Test</a></li>
                            <li><a href="#/">Test 2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Sign in</a></li>
                </ul>
            </nav>
            <div class="header_nav__form">
                <form>
                    <input type="email" placeholder="Enter your email">
                    <input type="submit" value="Start my free trial">
                </form>
            </div>
        </div>
    </div>
</header>
<!--end header-->