<!--begin integration-->
<section class="integration">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 integration__text align-center">
                <h1 class="title">Call Tracking Integrations for Analytics & CRM</h1>
                <img src="img/img_integrate.jpg" alt="Image" />
                <h3 class="title__secondary">Integrate Your Phone Call Analytics for Deeper Marketing Insights</h3>
            </div>
        </div>
        <div class="row integration__list integration_list">
            <!--begin item-->
            <div class="integration_list__item integration_item tool" value="search_social">
                <div class="integration_item__icon">
                    <img src="img/icon_integration_1.png" alt="Icon" />
                </div>
                <p>Search and Social Analytics</p>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="integration_list__item integration_item tool" value="bid_management">
                <div class="integration_item__icon">
                    <img src="img/icon_integration_2.png" alt="Icon" />
                </div>
                <p>Bid Management</p>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="integration_list__item integration_item">
                <div class="integration_item__icon">
                    <img src="img/icon_integration_3.png" alt="Icon" />
                </div>
                <p>CRM</p>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="integration_list__item integration_item">
                <div class="integration_item__icon">
                    <img src="img/icon_integration_4.png" alt="Icon" />
                </div>
                <p>Marketing Automation</p>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="integration_list__item integration_item">
                <div class="integration_item__icon">
                    <img src="img/icon_integration_5.png" alt="Icon" />
                </div>
                <p>Website Optimization</p>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="integration_list__item integration_item">
                <div class="integration_item__icon">
                    <img src="img/icon_integration_6.png" alt="Icon" />
                </div>
                <p>Chat and Notifications</p>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="integration_list__item integration_item">
                <div class="integration_item__icon">
                    <img src="img/icon_integration_7.png" alt="Icon" />
                </div>
                <p>Other Integrations</p>
            </div>
            <!--end item-->
        </div>
        <div class="row integration__about integration_about">
            <!--begin item-->
            <div class="col-lg-3 integration_about__info integration_info" data-filter="search_social">
                <div class="integration_info__border">
                    <div class="integration_info__flag">
                        <p>Premium</p>
                    </div>
                    <div class="integration_info__img">
                        <img src="img/logo_amp.png" alt="Logo">
                    </div>
                    <div class="integration_info__text">
                        <p>Access your call tracking and attribution data from AMP to understand which keywords or campaigns generate the most leads.</p>
                        <a class="btn_dark" href="#/">Learn more</a>
                    </div>
                </div>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="col-lg-3 integration_about__info integration_info" data-filter="search_social">
                <div class="integration_info__border">
                    <div class="integration_info__img">
                        <img src="img/logo_insta.png" alt="Logo">
                    </div>
                    <div class="integration_info__text">
                        <p>Call Conversion Tracking for all of your Instagram ads.</p>
                        <a class="btn_dark" href="#/">Learn more</a>
                    </div>
                </div>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="col-lg-3 integration_about__info integration_info" data-filter="bid_management">
                <div class="integration_info__border">
                    <div class="integration_info__img">
                        <img src="img/logo_acquisio.png" alt="Logo">
                    </div>
                    <div class="integration_info__text">
                        <p>Use calls to bid smarter and get call conversion data for all your campaigns with CallRail for Acquisio.</p>
                        <a class="btn_dark" href="#/">Learn more</a>
                    </div>
                </div>
            </div>
            <!--end item-->
        </div>
    </div>
</section>
<!--end integration-->