<!--begin pricing header-->
<section class="pricing_header">
    <div class="container">
        <div class="row">
            <div class="pricing_header__title col-sm-12 col-lg-12 align-center center">
                <h2 class="title__secondary"><b>Try LimeCall for free before you buy.</b></h2>
            </div>
            <div class="col-sm-12 col-lg-12 home_intro__form">
                <form>
                    <input type="email" placeholder="Business Email Address">
                    <input type="submit" value="Start my free trial">
                </form>
                <p class="align-center">(Start today and see results within 14 days. No credit card. Set up in 5 mins.)</p>
            </div>
        </div>
    </div>
</section>
<!--end pricing header-->
<!--begin pricing table-->
<section class="pricing_table">
    <div class="container">
        <div class="pricing_table__wrapper pricing_wrap row">
            <!--begin item-->
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="pricing_wrap__item pricing_item">
                    <div class="pricing_item__title"><h3 class="title">Free</h3></div>
                    <div class="pricing_item__price"><span>$</span>0</div>
                    <div class="pricing_item__info"><p>Free and always will be</p></div>
                    <div class="pricing_item__list">
                        <ul>
                            <li><p><b>10 Calls</b> / month</p></li>
                            <li><p><b>1 Week</b> Call history</p></li>
                            <li><p><b>1 Widget</b> domains</p></li>
                            <li><p><b>1 Widget</b></li>
                            <li><p><b>1 Call operator</b></li>
                        </ul>
                    </div>
                    <div class="pricing_item__btn">
                        <a href="#/">Sign up for free</a>
                    </div>
                </div>
            </div>
            <!--begin item-->
            <!--begin item-->
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="pricing_wrap__item pricing_item">
                    <div class="pricing_item__title"><h3 class="title">Basic</h3></div>
                    <div class="pricing_item__price"><span>$</span>60</div>
                    <div class="pricing_item__info"><p>Per month biled monthly</p></div>
                    <div class="pricing_item__list">
                        <ul>
                            <li><p><b>100 Calls</b> / month</p></li>
                            <li><p><b>1 Week</b> Call history</p></li>
                            <li><p><b>2 Widget</b> domains</p></li>
                            <li><p><b>5 Widget</b></li>
                            <li><p><b>2 Call operator</b></li>
                        </ul>
                    </div>
                    <div class="pricing_item__btn">
                        <a href="#/">Sign up for free</a>
                    </div>
                </div>
            </div>
            <!--begin item-->
            <!--begin item-->
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="pricing_wrap__item pricing_item">
                    <div class="pricing_item__title"><h3 class="title">Business</h3></div>
                    <div class="pricing_item__price"><span>$</span>200</div>
                    <div class="pricing_item__info"><p>Per month biled monthly</p></div>
                    <div class="pricing_item__list">
                        <ul>
                            <li><p><b>200 Calls</b> / month</p></li>
                            <li><p><b>2 Week</b> Call history</p></li>
                            <li><p><b>10 Widget</b> domains</p></li>
                            <li><p><b>10 Widget</b></li>
                            <li><p><b>5 Call operator</b></li>
                        </ul>
                    </div>
                    <div class="pricing_item__btn">
                        <a href="#/">Sign up for free</a>
                    </div>
                </div>
            </div>
            <!--begin item-->
            <!--begin item-->
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="pricing_wrap__item pricing_item">
                    <div class="pricing_item__deal">
                        <span>Best deal</span>
                    </div>
                    <div class="pricing_item__title"><h3 class="title">Advanced</h3></div>
                    <div class="pricing_item__price"><span>$</span>700</div>
                    <div class="pricing_item__info"><p>Per month biled monthly</p></div>
                    <div class="pricing_item__list">
                        <ul>
                            <li><p><b>500 Calls</b> / month</p></li>
                            <li><p><b>6 Week</b> Call history</p></li>
                            <li><p><b>20 Widget</b> domains</p></li>
                            <li><p><b>20 Widget</b></li>
                            <li><p><b>10 Call operator</b></li>
                        </ul>
                    </div>
                    <div class="pricing_item__btn">
                        <a class="btn_green" href="#/">Sign up for free</a>
                    </div>
                </div>
            </div>
            <!--begin item-->
        </div>
        <div class="pricing_table__text align-center">
            <p>ALL PLANS ARE IN USD</p>
        </div>
    </div>
</section>
<!--end pricing table-->
<!--begin pricing faq-->
<section class="pricing_faq">
    <div class="container">
        <div class="row">
            <div class="pricing_faq__title col-sm-12 col-lg-6 center align-center">
                <h2 class="title title__secondary"><b>Frequently asked Questions</b></h2>
            </div>
        </div>
        <div class="pricing_faq__wrapper faq_wrap row">
            <!--begin item-->
            <div class="faq_wrap__item col-sm-12 col-lg-6">
                <h3 class="title">What is an inbound call?</h3>
                <p>It's a call made by your rep when your potential customers use Limecall widget. Consider him a Lead with whom you can have a conversation. We don't count calls shorter than 10 seconds.</p>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="faq_wrap__item col-sm-12 col-lg-6">
                <h3 class="title">What if someone tries to spam the widget?</h3>
                <p>We bet it won't happen, but we have created a blacklist where you can block anyone, just in case. Blacklist works with IP addresses and phone num- bers.</p>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="faq_wrap__item col-sm-12 col-lg-6">
                <h3 class="title">What is call history?</h3>
                <p>The call voice data is recorded and it stays in your account.</p>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="faq_wrap__item col-sm-12 col-lg-6">
                <h3 class="title">What is a call operator?</h3>
                <p>A call operator is the person who responds to callback services via our solution.</p>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="faq_wrap__item col-sm-12 col-lg-6">
                <h3 class="title">Can my customers call from any country?</h3>
                <p>Yes, your customers can call you from any country.</p>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="faq_wrap__item col-sm-12 col-lg-6">
                <h3 class="title">What counts as a callback?</h3>
                <p>Each visitor requests a call and it connects. If the call is connected to your rep. It’s counted as a callback.</p>
            </div>
            <!--end item-->
        </div>
    </div>
</section>
<!--end pricing faq-->
<!--begin home trial-->
<section class="home_trial">
    <div class="container">
        <div class="row">
            <div class="home_trial__title col-sm-12 col-lg-7 align-center center">
                <h2 class="title__secondary"><b>Try LimeCall for free </b> before you buy.</h2>
            </div>
            <div class="col-sm-12 col-lg-12 home_intro__form">
                <form>
                    <input type="email" placeholder="Business Email Address">
                    <input type="submit" value="Start my free trial">
                </form>
                <p class="align-center">(Get jaw-dropping leads in days! No Credit card required, cancel any time.)</p>
            </div>
        </div>
    </div>
</section>
<!--end home trial-->