<section class="security-hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title title__secondary">
                    <b>Customer trust and data security are critical to everything we do at Intercom.</b>
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="security-items">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="title__secondary">
                    <b>Compliance</b>
                </h2>
            </div>
        </div>
        <div class="row list">
            <div class="col-12 col-md-4 col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon_acquire.png" alt="Image">
                    </div>
                    <div class="text">
                        <h3>SOC 2</h3>
                        <p>Service Organization Controls (Soc2) (Type II) Trust Services Principles</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon_acquire.png" alt="Image">
                    </div>
                    <div class="text">
                        <h3>Privacy Shield</h3>
                        <p>EU-US Privacy Shield</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon_acquire.png" alt="Image">
                    </div>
                    <div class="text">
                        <h3>CSA</h3>
                        <p>Cloud Security Alliance</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="security-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="title__secondary">
                    <b>Key features</b>
                </h2>
            </div>
        </div>
        <div class="row list">
            <div class="col-12 col-md-4 col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon_acquire.png" alt="Image">
                    </div>
                    <div class="text">
                        <h3>Product security</h3>
                        <a href="#1" class="security-features_link">Learn more <span class="arrow"><i class="fas fa-long-arrow-alt-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon_acquire.png" alt="Image">
                    </div>
                    <div class="text">
                        <h3>Privacy Shield</h3>
                        <a href="">Learn more <span class="arrow"><i class="fas fa-long-arrow-alt-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon_acquire.png" alt="Image">
                    </div>
                    <div class="text">
                        <h3>CSA</h3>
                        <a href="">Learn more <span class="arrow"><i class="fas fa-long-arrow-alt-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="link">
                    <p>
                        <a href="">Intercom’s GDPR Commitment</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="security-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text" id="1">
                    <h2 class="title__secondary">Product security</h2>
                    <h3>SSO & 2FA</h3>
                    <p>Single Sign-on (SSO) allows you to authenticate users in your own systems without requiring them
                        to
                        enter additional login credentials If you’re using password based authentication, you can turn
                        on
                        2-factor authentication (2FA) More details on our <a href="">docs</a>.</p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="text">
                    <h2 class="title__secondary">Network and application security</h2>
                    <h3>Data Hosting and Storage</h3>
                    <p>Intercom services and data are hosted in Amazon Web Services (AWS) facilities (us-east-1) in the
                        USA.</p>
                    <h3>Incident Response</h3>
                    <p>Intercom implements a protocol for handling security events which includes escalation procedures,
                        rapid mitigation and post mortem. All employees are informed of our policies.</p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="text">
                    <h2 class="title__secondary">Additional Security features</h2>
                    <h3>Training</h3>
                    <p>All employees complete Security and Awareness training annually.</p>
                    <h3>Policies</h3>
                    <p>Intercom has developed a comprehensive set of security policies covering a range of topics. These
                        policies are updated frequently and shared with all employees.</p>
                </div>
            </div>
        </div>
    </div>
</section>