<!--begin about header-->
<section class="about_header">
    <div class="container">
        <div class="row">
            <div class="about_header__title col-lg-12 center align-center">
                <h1 class="title">The idea and the people <br/>  behind Limecall</h1>
            </div>
        </div>
    </div>
    <div class="about_header__img">
        <img src="img/img_about_header.jpg" alt="Image">
    </div>
</section>
<!--end about header-->
<!--begin about text-->
<section class="about_text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 align-center about_text__item">
                <h2 class="title title__secondary"><b>How it all started</b></h2>
                <p>One of our brands Limeproxies had huge traffic but the inbound sales had lower response time, customers dropped off if their questions were not answered in real-time, there were too many steps to call with calendar scheduling and we had low conversion rates.</p>
                <p>One weekend, we quickly hacked this widget where customers can get automated calls by simply putting their number on this widget. It increased our all conversion and sign-up rates in a week. Hence, we thought about building it, not just for us, but for everyone. Hence, Limecall was born to help everyone to empower your sales teams.</p>
            </div>
            <div class="col-lg-12 align-center about_text__item">
                <h2 class="title title__secondary"><b>The Team</b></h2>
                <p>We’re an international team with diverse backgrounds and skill sets. Our team is fully remote and we’re based in India, UK, Germany, Egypt and Ukraine. Some of our skills are similar while others overlap. Vikas and Sathish are excellent huggers as you can see below.</p>
                <p>We’re a completely bootstrapped business and believe in bootstrapping our way for limecall too. Lastly, we strongly believe in real-time sales and marketing. Everything happens now, so we focus a lot of doing things right now.</p>
            </div>
        </div>
    </div>
</section>
<!--end about text-->
<!--begin team list-->
<section class="team_list">
    <div class="container">
        <div class="container">
            <div class="row team_list__title">
                <div class="col-lg-12 align-center">
                    <h2 class="title__secondary"><b>Meet the Team</b></h2>
                </div>
            </div>
            <div class="row team_list__wrapper team_wrap">
                <!--begin item-->
                <div class="col-lg-4">
                    <div class="team_wrap__item team_item">
                        <div class="team_item__avatar">
                            <img src="img/avatar_sathish.png" alt="Avatar" />
                        </div>
                        <div class="team_item__info">
                            <h3 class="title">Sathish Ganesh</h3>
                            <span>Chief Executive Officer</span>
                            <p>The 3X founder: He loves creating multiple businesses and breaking the stereotypes.</p>
                        </div>
                        <div class="team_item__location">
                            <img src="img/icon_location.svg" alt="Icon">
                            <span>London , UK</span>
                        </div>
                    </div>
                </div>
                <!--end item-->
            </div>
        </div>
    </div>
</section>
<!--begin team list-->
<!--begin about purpose-->
<section class="team_purpose">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 team_purpose__text align-center">
                <h2 class="title title__secondary"><b>Our Purpose</b></h2>
                <p>We succeed by helping small businesses succeed.</p>
            </div>
        </div>
    </div>
</section>
<!--end about purpose-->
<!--begin team values-->
<section class="team_values">
    <div class="container">
        <div class="row team_values__title">
            <div class="col-lg-12 align-center">
                <h2 class="title title__secondary"><b>Our Values</b></h2>
            </div>
        </div>
        <div class="row team_values__list team_values_list">
            <div class="col-lg-6 team_values_list__item">
                <h3 class="title">Kindness:</h3>
                <p>We give the benefit of the doubt and choose the most optimistic approach to the situation. This is especially important when someone is REALLY tempting us not to be kind! We find that life is better when we choose the high road. Also, We leave our egos out of it. We're all working toward the same end goal.</p>
            </div>
            <div class="col-lg-5 team_values_list__item">
                <img src="img/img_values_1.jpg" alt="Image" />
            </div>
        </div>
        <div class="row team_values__list team_values_list">
            <div class="col-lg-5 team_values_list__item">
                <img src="img/img_values_2.jpg" alt="Image" />
            </div>
            <div class="col-lg-6 team_values_list__item">
                <h3 class="title">Ownership:</h3>
                <p>We love taking ownership of projects. Everybody has a stake in the success of this company. We're passionate and enthusiastic about opportunities with huge potential wins for the company!</p>
            </div>
        </div>
        <div class="row team_values__list team_values_list">
            <div class="col-lg-6 team_values_list__item">
                <h3 class="title">Value for Value:</h3>
                <p>Every transaction should be an even exchange of value. The money our customers pay for the software we provide. The value that the company provides employees versus the value employees provide the company. Value for value.</p>
            </div>
            <div class="col-lg-5 team_values_list__item">
                <img src="img/img_values_3.jpg" alt="Image" />
            </div>
        </div>
    </div>
</section>
<!--end team values-->
<!--begin home trial-->
<section class="home_trial">
    <div class="container">
        <div class="row">
            <div class="home_trial__title col-sm-12 col-lg-9 align-center center">
                <h2 class="title__secondary"><b>We’re going to share our journey of Limecall and what works & what does not.</b></h2>
            </div>
            <div class="home_trial__text col-sm-12 col-lg-9 align-center center">
                <p>Subscribe below to learn from our lesson:</p>
            </div>
            <div class="col-sm-12 col-lg-12 home_intro__form">
                <form>
                    <input type="email" placeholder="Business Email Address">
                    <input type="submit" value="Start my free trial">
                </form>
                <p class="align-center">(You can unsubscribe at any point of time.)</p>
            </div>
        </div>
    </div>
</section>
<!--end home trial-->