<!--begin Demo global-->
<section class="demo_global">
    <div class="demo_global__icons_left">
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"><img src="<?php echo get_stylesheet_directory_uri(); ?>/img/graph-phone.png" alt="Icon phone" /></div>
        <div class="icon"><img src="<?php echo get_stylesheet_directory_uri(); ?>/img/graph-email.png" alt="Icon Email" /></div>
        <div class="icon"><img src="<?php echo get_stylesheet_directory_uri(); ?>/img/graph-twitter.svg" alt="Icon Twitter" /></div>
        <div class="icon"></div>
        <div class="icon"><img src="<?php echo get_stylesheet_directory_uri(); ?>/img/graph-sms.png" alt="Icon Sms" /></div>
    </div>
    <div class="demo_global__icons_right">
        <div class="icon"><img src="<?php echo get_stylesheet_directory_uri(); ?>/img/graph-facebook.svg" alt="Icon Facebook" /></div>
        <div class="icon"><img src="<?php echo get_stylesheet_directory_uri(); ?>/img/graph-whatsapp.png" alt="Icon Whatsapp" /></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"><img src="<?php echo get_stylesheet_directory_uri(); ?>/img/graph-trello.png" alt="Icon Trello" /></div>
        <div class="icon"><img src="<?php echo get_stylesheet_directory_uri(); ?>/img/graph-hubspot.png" alt="Icon Hubspot" /></div>
        <div class="icon"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 center text-center">
                <h2 class="title__secondary"><b>Build better customer </br> experiences with Groove</b></h2>
                <p>Everything you need to convert, support, and delight your customers.</p>
                <div class="cta_global__btns">
                    <a class="btn_dark" href="#/">Get started</a>
                    <a class="btn_grey" href="#/">Book a demo</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end Demo global-->