<!--begin testimonials hero-->
<section class="testimonials-hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="title__secondary">Limecall Customer Testimonials</h1>
                <p>See what our customers are saying about Limecall's business text messaging services</p>
            </div>
        </div>
    </div>
</section>
<!--end testimonials hero-->
<!--begin testimonials slider-->
<section class="testimonials-slider">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="swiper-slide-container">
                                <div class="item">
                                    <div class="avatar">
                                        <img src="img/avatar_tslider_1.jpg" alt="Avatar" />
                                    </div>
                                    <div class="info">
                                       <div class="text">
                                           <span>"</span>QiQ has used Limecall for over a year now and we love this service. It is flexible in how we send and receive messages and it is cost-effective.<span>"</span>
                                       </div>
                                        <div class="about">
                                            <div class="detail">
                                                <h3>Peter Harris</h3>
                                                <p>Managing Director</p>
                                                <a href="#/">Read the case study</a>
                                            </div>
                                            <div class="logo">
                                                <img src="img/logo_tslider_1.png" alt="Logo" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-container">
                                <div class="item">
                                    <div class="avatar">
                                        <img src="img/avatar_tslider_2.jpg" alt="Avatar" />
                                    </div>
                                    <div class="info">
                                        <div class="text">
                                            <span>"</span>We have been using Limecall for our SMS needs since 2012 and they have always provided a reliable and good value service.<span>"</span>
                                        </div>
                                        <div class="about">
                                            <div class="detail">
                                                <h3>Thomas Lloyd</h3>
                                                <p>Director</p>
                                                <a href="#/">Read the case study</a>
                                            </div>
                                            <div class="logo">
                                                <img src="img/logo_tslider_2.jpg" alt="Logo" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-container">
                                <div class="item">
                                    <div class="avatar">
                                        <img src="img/avatar_tslider_3.jpg" alt="Avatar" />
                                    </div>
                                    <div class="info">
                                        <div class="text">
                                            <span>"</span>Limecall helps us to reach our target groups, when telephone calls and emails are not enough.<span>"</span>
                                        </div>
                                        <div class="about">
                                            <div class="detail">
                                                <h3>Hugo Johansson</h3>
                                                <p>Project Manager</p>
                                                <a href="#/">Read the case study</a>
                                            </div>
                                            <div class="logo">
                                                <img src="img/logo_tslider_3.jpg" alt="Logo" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-container">
                                <div class="item">
                                    <div class="avatar">
                                        <img src="img/avatar_tslider_4.jpg" alt="Avatar" />
                                    </div>
                                    <div class="info">
                                        <div class="text">
                                            <span>"</span>Limecall helped us address a major CRM issue and the platform was quite good at allowing us to import a lot of data at once which saves us a lot of time.<span>"</span>
                                        </div>
                                        <div class="about">
                                            <div class="detail">
                                                <h3>Anil Khandelwal</h3>
                                                <p>Director</p>
                                                <a href="#/">Read the case study</a>
                                            </div>
                                            <div class="logo">
                                                <img src="img/logo_tslider_4.jpg" alt="Logo" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-container">
                                <div class="item">
                                    <div class="avatar">
                                        <img src="img/avatar_tslider_5.jpg" alt="Avatar" />
                                    </div>
                                    <div class="info">
                                        <div class="text">
                                            <span>"</span>Limecall ensures we are notified of any network traffic or high loads on our servers from our monitoring software no matter where we are.<span>"</span>
                                        </div>
                                        <div class="about">
                                            <div class="detail">
                                                <h3>N Alberici</h3>
                                                <p>Developer</p>
                                                <a href="#/">Read the case study</a>
                                            </div>
                                            <div class="logo">
                                                <img src="img/logo_tslider_5.jpg" alt="Logo" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-container">
                                <div class="item">
                                    <div class="avatar">
                                        <img src="img/avatar_tslider_6.png" alt="Avatar" />
                                    </div>
                                    <div class="info">
                                        <div class="text">
                                            <span>"</span>Glad we found Limecall for our messaging requirements. The interface and easy of use makes our work so much easier, whilst giving us the professional image we strive to maintain.<span>"</span>
                                        </div>
                                        <div class="about">
                                            <div class="detail">
                                                <h3>Ahmet Deveci</h3>
                                                <p>Director</p>
                                                <a href="#/">Read the case study</a>
                                            </div>
                                            <div class="logo">
                                                <img src="img/logo_tslider_6.png" alt="Logo" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-container">
                                <div class="item">
                                    <div class="avatar">
                                        <img src="img/avatar_tslider_7.jpg" alt="Avatar" />=
                                    </div>
                                    <div class="info">
                                        <div class="text">
                                            <span>"</span>I personally highly recommend TextMagic outstanding services. They are innovative, cost-effective and they've got style!<span>"</span>
                                        </div>
                                        <div class="about">
                                            <div class="detail">
                                                <h3>Clint Mahmalgi</h3>
                                                <p>Managing Director</p>
                                                <a href="#/">Read the case study</a>
                                            </div>
                                            <div class="logo">
                                                <img src="img/logo_tslider_7.png" alt="Logo" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="swiper-slide-container">
                                <img src="img/avatar_tslider_1.jpg" alt="Avatar" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-container">
                                <img src="img/avatar_tslider_2.jpg" alt="Avatar" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-container">
                                <img src="img/avatar_tslider_3.jpg" alt="Avatar" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-container">
                                <img src="img/avatar_tslider_4.jpg" alt="Avatar" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-container">
                                <img src="img/avatar_tslider_5.jpg" alt="Avatar" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-container">
                                <img src="img/avatar_tslider_6.png" alt="Avatar" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-container">
                                <img src="img/avatar_tslider_7.jpg" alt="Avatar" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end testimonials slider-->
<!--begin testimonials list-->
<section class="testimonials-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="item">
                    <div class="text">
                        <span>"</span>I would recommend Limecall solution to businesses who supply services like plumbers, electrician, pest control, couriers parts delivery. Anyone who supplies a service needs this solution to improve productivity.<span>"</span>
                    </div>
                    <div class="info">
                        <div class="avatar">
                            <img src="img/avatar_testim_1.jpg" alt="Avatar" />
                        </div>
                        <div class="about">
                            <h3>SEAN Whelan</h3>
                            <p>Managing Director</p>
                            <a href="#/">Read the case study</a>
                        </div>
                        <div class="logo">
                            <img src="img/logo_testim_1.jpg" alt="Logo" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item">
                    <div class="text">
                        <span>"</span>Limecall is definitely a robust service in which users can create effective and reliable communication routines using text messaging services.<span>"</span>
                    </div>
                    <div class="info">
                        <div class="avatar">
                            <img src="img/avatar_testim_2.jpg" alt="Avatar" />
                        </div>
                        <div class="about">
                            <h3>Jorge Guillen</h3>
                            <p>Senior Developer</p>
                            <a href="#/">Read the case study</a>
                        </div>
                        <div class="logo">
                            <img src="img/logo_testim_2.png" alt="Logo" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item">
                    <div class="text">
                        <span>"</span>We found that Limecall´s text messaging service is a valuable tool to increase our donation income.<span>"</span>
                    </div>
                    <div class="info">
                        <div class="avatar">
                            <img src="img/avatar_testim_3.jpeg" alt="Avatar" />
                        </div>
                        <div class="about">
                            <h3>Matthias Tomczak</h3>
                            <p>convener</p>
                            <a href="#/">Read the case study</a>
                        </div>
                        <div class="logo">
                            <img src="img/logo_testim_3.gif" alt="Logo" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item">
                    <div class="text">
                        <span>"</span>Limecall has helped us to send the required information to our truck drivers with little effort.<span>"</span>
                    </div>
                    <div class="info">
                        <div class="avatar">
                            <img src="img/avatar_testim_4.jpg" alt="Avatar" />
                        </div>
                        <div class="about">
                            <h3>J.J. Van Tuijl</h3>
                            <p>Manager</p>
                            <a href="#/">Read the case study</a>
                        </div>
                        <div class="logo">
                            <img src="img/logo_testim_4.jpg" alt="Logo" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end testimonials list-->