<section class="voc-hero" style="background-image: url('img/voc-header.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>A Voice of Customer Solution</h1>
                <p>What it is, why you should use it, and how to implement it</p>
            </div>
        </div>
    </div>
</section>
<section class="voc-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text text-center">
                    <h4>What is Voice of Customer?</h4>
                    <h5 class="title__secondary">
                        A Voice of Customer solution, sometimes referred to as "VoC," involves the process of collecting insights into customers’ wants and needs through their own words.
                    </h5>
                    <p>
                        It enables you to understand the customer experience that you are delivering and it is a critical component to driving organizational efforts to bring value to customers. In a nutshell, VoC is listening to your customers. It began as a way to link customer needs to performance measures in Japanese product development, but currently, it’s a popular method of market research and customer feedback collection for top performing companies in many verticals.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="voc-research">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="image">
                    <img src="img/backend-browser-mockup.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text">
                    <h4>why does voice of customer research matter?</h4>
                    <p>
                        In a society where consumers are more invested in the products and services that they use, it’s clear that giving your customers a voice is key for surviving in fast-paced markets and keeping a competitive advantage.
                    </p>
                    <p>
                        Following the standards set by Lean Six Sigma, Voice of Customer research has three main purposes:
                    </p>
                    <ul>
                        <li>
                            To figure out what customers care about
                        </li>
                        <li>
                            To set priorities and goals consistent with the needs of your customers
                        </li>
                        <li>
                            To determine what customer needs you can profitably meet
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="voc-solution">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text text-center">
                    <h4>why does voice of customer research matter?</h4>
                    <p>By conducting Voice of Customer research, you can ask the right question to understand the customer journey, which helps drive customer-centric organizational change. In terms of your digital channels, analytics may be telling you what is happening on your website or in your conversion funnels, but your customer’s voice helps you understand why. By asking your customers, you can build better products, deliver better services, and improve your customer experience to adapt to your customer’s evolving needs and foster loyalty.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="item">
                    <img src="img/voc-1.svg" alt="">
                    <h6>Improve User Experience</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item">
                    <img src="img/voc-2.svg" alt="">
                    <h6>Save Time and Resources</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item">
                    <img src="img/voc-3.svg" alt="">
                    <h6>Increase Conversions</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item">
                    <img src="img/voc-4.svg" alt="">
                    <h6>Drive Organizational Change</h6>
                </div>
            </div>
        </div>
    </div>
</section>
