<!--begin wil hero-->
<section class="wil-hero">
    <div class="container">
        <div class="row wrapper">
            <div class="col-lg-12 text-center">
                <h1 class="title__secondary"><b>Intercom is modern business messaging at scale</b></h1>
                <p>Build better customer relationships with scalable messaging that provides a more personal experience for you and your customers.</p>
                <img src="img/wii-hero_2x.webp" alt="Image" />
            </div>
        </div>
    </div>
</section>
<!--end wil hero-->
<!--begin wil tabs-->
<section class="wil-tabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="title__secondary">
                    <b>A messenger made for business</b>
                </h2>
                <p>Intercom’s Business Messenger enables more than just chat, so you and your customers can get things done efficiently.</p>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home1-tab" data-toggle="tab" href="#nav-home1" role="tab" aria-controls="nav-home1" aria-selected="true">
                            <h3>Friendly, quick, easy </h3>
                            <p>Business messaging that feels just like the messenger apps you and your customers use every day.</p>
                        </a>
                        <a class="nav-item nav-link" id="nav-profile1-tab" data-toggle="tab" href="#nav-profile1" role="tab" aria-controls="nav-profile1" aria-selected="false">
                            <h3>Automated answers</h3>
                            <p>Deliver fast answers at scale with conversational bots that route and respond to messages for you.</p>
                        </a>
                        <a class="nav-item nav-link" id="nav-contact1-tab" data-toggle="tab" href="#nav-contact1" role="tab" aria-controls="nav-contact1" aria-selected="false">
                            <h3>Interactive apps</h3>
                            <p>Let customers see their order status, pay their invoice, read help articles, and more right inside the Messenger.</p>
                        </a>
                    </div>
                </nav>
                <a class="btn_dark btn_circle" href="#/"><span class="anim"></span>Try Limecall for free</a>
            </div>
            <div class="col-lg-6">
                <div class="tab-content" id="nav-tabContent1">
                    <div class="tab-pane fade show active" id="nav-home1" role="tabpanel" aria-labelledby="nav-home1-tab">
                        <img src="img/friendly-quick-easy.webp" alt="Image" />
                    </div>
                    <div class="tab-pane fade" id="nav-profile1" role="tabpanel" aria-labelledby="nav-profile1-tab">
                        <img src="img/automated-answers.webp" alt="Image" />
                    </div>
                    <div class="tab-pane fade" id="nav-contact1" role="tabpanel" aria-labelledby="nav-contact1-tab">
                        <img src="img/interactive-apps.webp" alt="Image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end wil tabs-->

<!--begin wil tabs-->
<section class="wil-tabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="tab-content" id="nav-tabContent2">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <img src="img/img_hiw2.webp" alt="Image" />
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <img src="img/img_hiw3.webp" alt="Image" />
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <img src="img/img_hiw4.webp" alt="Image" />
                    </div>
                    <div class="tab-pane fade" id="nav-contact2" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <img src="img/img_hiw5.webp" alt="Image" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="title__secondary">
                    <b>And a platform built for scale</b>
                </h2>
                <p>Everything your team needs to provide personal experiences to every customer—consistently and at scale.</p>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab2" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                            <h3><img src="img/icon_messenger.png" alt="Icon" /> Business Messenger</h3>
                            <p>Drive action and resolutions with chat, interactive apps, conversational bots, product tours, and more. </p>
                        </a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                            <h3><img src="img/icon_platform.png" alt="Icon" /> Management tools</h3>
                            <p>Manage multichannel customer interactions at scale with collaborative inboxes, automated workflows, reporting, and more.</p>
                        </a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">
                            <h3><img src="img/icon_users.png" alt="Icon" /> Customer data platform</h3>
                            <p>Target, personalize, and contextualize every interaction with behavioral and customer data from across your stack.</p>
                        </a>
                        <a class="nav-item nav-link" id="nav-contact2-tab" data-toggle="tab" href="#nav-contact2" role="tab" aria-controls="nav-contact2" aria-selected="false">
                            <h3><img src="img/icon_apps.png" alt="Icon" /> Apps & integrations</h3>
                            <p>Automate actions in conversations and sync data between tools with out-of-the-box and custom built apps.</p>
                        </a>
                    </div>
                </nav>
                <a class="btn_dark btn_circle" href="#/"><span class="anim"></span>See all features</a>
            </div>
        </div>
    </div>
</section>
<!--end wil tabs-->

<!--begin wil testimonial-->
<section class="wil-testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>"Before, building customer relationships was mainly via email: it was rigid, asynchronous, and impersonal. Intercom allows us to quickly form personal relationships with anyone."</p>
                <h4><b>Winston Christie-Blick,</b> Product Manager</h4>
                <div class="logo">
                    <img src="img/logo_productboard.png" alt="Logo" />
                </div>
            </div>
            <div class="col-lg-6">
                <img src="img/winston-christie-blick.webp" alt="Image" />
            </div>
        </div>
    </div>
</section>
<!--end wil testimonial-->

<!--begin wil explore-->
<section class="wil-explore">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="title__secondary"><b>Explore ways to use Intercom for growth across the lifecycle</b></h2>
            </div>
        </div>
        <div class="row wrapper">
            <div class="col-lg-4">
                <div class="item">
                    <img src="img/icon_acquire.png" alt="Icon" />
                    <h3>Lead generation</h3>
                    <p>Qualify more leads automatically and close more deals around the clock with chatbots and live chat.</p>
                    <a class="btn_dark btn_circle" href="#/"><span class="anim"></span>Learn more</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <img src="img/icon_enage.png" alt="Icon" />
                    <h3>Lead generation</h3>
                    <p>Qualify more leads automatically and close more deals around the clock with chatbots and live chat.</p>
                    <a class="btn_dark btn_circle" href="#/"><span class="anim"></span>Learn more</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <img src="img/icon_support.png" alt="Icon" />
                    <h3>Customer support</h3>
                    <p>Provide real-time, personal help at scale with a collaborative inbox, automation, and self-service support.</p>
                    <a class="btn_dark btn_circle" href="#/"><span class="anim"></span>Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end wil explore-->