.case-study
  &-list
    margin: 60px 0
    .arrow
      color: $color_black
      font-size: 50px
      text-decoration: none
      position: relative
      left: 0
      transition: 0.3s
      &:hover
        transition: 0.3s
        color: $color_black
        text-decoration: none
        left: -5px
    h1
      color: $color_black
      font-size: 40px
      font-weight: 600
      letter-spacing: 0.7px
      margin: 15px 0 50px
      width: 400px
    .item
      display: flex
      flex-direction: column
      border-bottom: 1px solid $color_black
      margin: 20px 0
      a
        color: $color_black
        &:hover
          transition: 0.3s
          color: $color_blue
          text-decoration: none
      .image
        height: 30px
        margin-bottom: 20px
      .title
        font-size: 30px
        font-weight: 600
        margin-bottom: 40px
      .link
        font-weight: 400
        padding-bottom: 55px
        i
          font-size: 12px
          padding-left: 2px
  &-single
    margin: 60px 0
    color: $color_black
    .arrow
      color: $color_black
      font-size: 50px
      text-decoration: none
      position: relative
      left: 0
      transition: 0.3s
      &:hover
        transition: 0.3s
        color: $color_black
        text-decoration: none
        left: -5px
    h1
      font-size: 50px
      font-weight: 600
      letter-spacing: 0.7px
      margin-bottom: 50px
    h2
      font-size: 40px
      font-weight: 600
      margin: 40px 0 20px
    p
      font-size: 19px
      font-weight: 300
      line-height: 30px
      margin-bottom: 20px
    .image
      height: auto
      margin: 40px 0





