// Features header

.features_header
  padding: 60px 0 0 0
  background-color: white
  z-index: 1
  position: relative
  &__title
    .title
      color: $color_black
      font-size: 50px
      font-weight: 600
      letter-spacing: 0.7px
      margin-bottom: 30px
    p
      margin-bottom: 50px
  &_top_list
    &__item
      text-align: center
      width: 82%
      max-width: 100%
      margin: 0 auto 60px auto
      img
        width: 35%
        margin-bottom: 20px
  &__img
    margin-bottom: 50px
    img
      width: 100%
  &__list
    margin-bottom: 50px
    ul
      li
        position: relative
        padding-left: 20px
        display: flex
        align-items: center
        &:before
          position: absolute
          content: ''
          width: 10px
          height: 10px
          border: 1px solid #537c44
          border-radius: 50px
          left: 0
        p
          margin-bottom: 0

// Features item

.features_item
  padding: 70px 0
  &__grey
    background-color: #f6f6f6
  &__title
    margin-bottom: 50px
  &__wrap
    justify-content: space-between
    align-items: center

.features_wrap
  &__text
    .title
      font-size: 45px
      font-weight: 300
      margin-bottom: 15px
      b
        font-weight: 600

// Features new

// Features hero

.features_hero
  padding: 60px 0
  .title
    color: $color_black
    font-size: 50px
    font-weight: 600
    letter-spacing: 0.7px
    margin-bottom: 30px
  p
    margin-bottom: 50px

// Features list

.features_list
  padding: 70px 0
  .row
    justify-content: space-between
  &__sign
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06)
    border-radius: 5px
    padding: 30px
    width: 100%
    height: 100%
    .title
      text-align: center
      font-size: 32px
    .btn_circle
      margin: 0 auto 50px auto
    ul
      li
        color: $color_black
        font-size: 16px
        font-weight: 300
  &__item
    max-width: 320px!important
    margin-bottom: 50px
    a
      &:hover
        text-decoration: none
    img
      min-height: 100px
      width: auto
    .title
      color: $color_black
      font-size: 24px
      font-weight: 600
      margin-bottom: 25px
    ul
      padding: 0 0 0 20px
      margin: 0
      li
        margin-bottom: 8px
        list-style: disc
        a
          display: inline-flex
          align-items: center
          padding-right: 10px
          position: relative
          color: $color_black
          font-size: 16px
          font-weight: 300
          &:hover
            color: $color_blue
          &:before
            position: absolute
            font-family: "Font Awesome 5 Free"
            font-size: 10px
            font-weight: 900
            content: "\f054"
            right: 0

// Features category

.features_cat_hero
  padding: 60px 0
  .back
    display: inline-flex
    align-items: center
    padding-right: 10px
    color: #4a4a56
    font-weight: 300
    text-transform: uppercase
    margin-bottom: 30px
    position: relative
    &:hover
      color: $color_blue
    &:before
      position: absolute
      font-family: "Font Awesome 5 Free"
      font-size: 10px
      font-weight: 900
      content: "\f054"
      right: 0
  .title
    color: #283238
    font-size: 60px
    font-weight: 600
    margin-bottom: 30px
  p
    margin-bottom: 50px
  .btn_circle
    margin-bottom: 50px
  img
    max-width: 650px

// Features cat list

.features_cat_list
  padding: 70px 0
  &:nth-of-type(even)
    background-color: #f6f6f7
  &:nth-of-type(odd)
    .row
      flex-direction: column
      text-align: center
  .row
    align-items: center
  h2
    color: #4a4a56
    font-size: 16px
    font-weight: 300
    text-transform: uppercase
    margin-bottom: 30px
  h3
    color: #283238
    font-size: 40px
    font-weight: 600
    margin-bottom: 30px
  p
    margin-bottom: 30px
  a
    display: inline-flex
    align-items: center
    color: $color_blue
    font-size: 16px
    font-weight: 400
    padding-right: 10px
    position: relative
    &:before
      position: absolute
      font-family: "Font Awesome 5 Free"
      font-size: 10px
      font-weight: 900
      content: "\f054"
      right: 0

// Features discover

.features_cat_discover
  padding: 70px 0
  background-color: #f6f6f7
  .title__secondary
    margin-bottom: 50px
  &__item
    display: flex
    align-items: flex-start
    flex-direction: column
    background-color: white
    padding: 30px
    margin-bottom: 50px
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06)
    border-radius: 8px
    position: relative
    bottom: 0
    left: 0
    text-decoration: none
    transition: 0.3s
    &:hover
      box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05)
      bottom: .25rem
      left: .125rem
      text-decoration: none
      transition: 0.3s
    img
      max-height: 60px
      width: auto
      margin-bottom: 15px
    .title
      color: $color_black
      font-size: 24px
      font-weight: 600
      margin-bottom: 10px
    p
      color: $color_black
      margin-bottom: 15px
      overflow: hidden
      text-overflow: ellipsis
      display: -webkit-box
      -webkit-box-orient: vertical
      -webkit-line-clamp: 2
    .more
      display: inline-flex
      align-items: center
      width: fit-content
      color: $color_blue
      font-size: 16px
      font-weight: 400
      padding-right: 10px
      position: relative
      &:before
        position: absolute
        font-family: "Font Awesome 5 Free"
        font-size: 10px
        font-weight: 900
        content: "\f054"
        right: 0
        margin-top: 2px