// Integration

.integration
  padding: 60px 0
  &__text
    margin-bottom: 100px
    .title
      color: #283238
      font-size: 50px
      font-weight: 600
      letter-spacing: .7px
      margin-bottom: 30px
  &__list
    justify-content: space-between
    margin-bottom: 50px
  &__about
    justify-content: center

.integration_item
  width: 14%
  max-width: 100%
  text-align: center
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 100px
  padding: 10px
  &:hover
    background-color: #f4f4f4
    .integration_item__icon
      img
        &:first-child
          display: none
        &:nth-of-type(2)
          display: block
    p
      color: $color_black
      font-weight: 600
  &.active
    background-color: #f4f4f4
    .integration_item__icon
      img
        &:first-child
          display: none
        &:nth-of-type(2)
          display: block
    p
      color: $color_black
      font-weight: 600
  &__icon
    margin: 0 10px 0 0
    img
      width: 35px
      height: auto
      &:nth-of-type(2)
        display: none
  p
    width: 55%
    color: #b7b7b7
    font-size: 12px
    font-weight: 500
    line-height: 20px
    text-transform: uppercase
    text-align: left
    margin-bottom: 0

.integration_info
  margin-bottom: 30px
  &__border
    border: 1px solid #f4f4f4
    position: relative
    display: flex
    flex-direction: column
    height: 100%
    cursor: pointer
  //&__flag
  //  position: absolute
  //  right: 0
  //  top: 0
  //  background-image: linear-gradient(45deg,#537c44 0,#b0c849 100%)
  //  padding: 0 25px
  //  &:before
  //    position: absolute
  //    content: ''
  //    left: 0
  //    width: 0
  //    height: 0
  //    border-top: 14px solid transparent
  //    border-left: 10px solid white
  //    border-bottom: 13px solid transparent
  //  p
  //    color: white
  //    margin: 0
  //    font-weight: 500
  &__text
    display: flex
    flex-direction: column
    text-align: center
    padding: 15px
    width: 100%
    height: 100%
    transition: 0.3s
    margin-bottom: 30px
  a
    width: 100%
    text-align: center
    background-color: #f4f4f4
    padding: 15px
    color: $color_black
    font-size: 16px
    font-weight: 600
    transition: .3s
    &:hover
      transition: 0.3s
      color: white
      text-decoration: none
      background-color: #283238
  &__img
    padding: 10px 30px
    display: flex
    align-items: center
    justify-content: center
    min-height: 100px
    max-height: 100px
    img
      max-height: 60px
      width: auto

// Sales tools

.automation_list
  padding: 50px 0
  &__text
    margin: 0 auto

.automation_item
  list-style: none
  margin: 0 auto 50px auto
  padding: 20px 0
  border-radius: 5px
  box-shadow: 4px 4px 5px 1px #dbdbdb
  border: 1px solid #dbdbdb
  .rns
    display: none
  a
    text-align: center
    display: block
    margin-bottom: 25px
    color: #455360
    font-size: 24px
  p
    font-size: 18px
    color: black
    font-weight: 200
  ul
    padding-left: 20px
    li
      list-style: disc
      font-size: 18px
      color: black
      font-weight: 200
  table
    display: flex
    width: 100%
    margin-bottom: 16px
    tbody
      width: 100%
      tr
        display: flex
        justify-content: space-between
        border: 1px solid #455360
        td
          width: 50%
          max-width: 100%
          font-size: 18px
          color: black
          font-weight: 200
          padding: 0 20px
          &:first-of-type
            border-right: 1px solid #455360
  &__img
    text-align: center

.plugins_cat
  display: flex
  flex-wrap: wrap
  margin: 0 auto
  a
    margin: 0 10px 10px 0
    font-size: 18px
    background: #283238
    color: white
    text-decoration: none
    padding: 8px 31px
    border-radius: 5px
    font-weight: 500
    &:hover
      color: white
      background-image: linear-gradient(45deg,#537c44 0,#b0c849 100%)

.tools_list
  .page-title-sm
    width: 100%
    margin-bottom: 30px
    color: #455360
  .automation_item
    width: 100%

.single_int
  &__image
    max-width: 300px
